<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon" />
    <title><%= translation.login %> | <%= translation.paidthru %></title>
    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/bootstrap.css">
    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/responsive.css">
</head>
<body>
<% 
for(var i=0; i<error.length; i++) { 
         if (error[i].param == 'email'){ var email =  error[i]['msg']; }
         if (error[i].param == 'password'){ var password =  error[i]['msg']; }
 }  
%>
<!--page-wrapper Start-->
<div class="page-wrapper">
    <div class="container-fluid">
        <!--login page start-->
        <div class="authentication-main">
            <div class="row">
                <div class="col-md-4 p-0">
                    <div class="auth-innerleft">
                        <div class="text-center">
                            <img src="<%= global.url; %>/public/assets/images/logo.jpg" class="logo-login" alt="">
                            <hr>
                            <div class="social-media">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="fa fa-facebook" aria-hidden="true"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-twitter" aria-hidden="true"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-instagram" aria-hidden="true"></i></li>
                                    <li class="list-inline-item"><i class="fa fa-rss" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-8 p-0">
                    <div class="auth-innerright">
                        <div class="authentication-box">
                            <h4><%= translation.login %></h4>
                            <h6><%= translation.enter_username_password %></h6>
                            <div class="card mt-4 p-4">
                                  <% if (errorMessage.length > 0) { %>
                                      <div class="alert alert-danger flash"><%= errorMessage %></div>
                                  <% } %>

                                  <% if (successMessage.length > 0) { %>
                                      <div class="alert alert-success flash"><%= successMessage %></div>
                                  <% } %>
                                <form class="" method="post" action="/login">
                                    <div class="form-group">
                                        <label class="col-form-label">Email</label>
                                        <input type="email" name="email" class="form-control form-control-lg">
                                     <% if (email) { %> <span class="help-block text-danger"> <strong><%= email %></strong> </span>  <% }  %>
                                        </div>
                                    <div class="form-group">
                                        <label class="col-form-label"><%= translation.password %></label>
                                        <input type="password" name="password" class="form-control form-control-lg">
                                    <% if (password) { %> <span class="help-block text-danger"> <strong><%= password %></strong> </span>  <% }  %>
                                    </div>
                                    <div class="checkbox p-0">
                                        <input id="checkbox1" type="checkbox">
                                        <label for="checkbox1"> <%= translation.remember_me %></label>
                                    </div>
                                    <div class="form-group form-row mt-3">
                                        <div class="col-md-3">
                                            <button type="submit" class="btn btn-secondary btn-lg"><%= translation.login %></button>
                                        </div>
                                        <div class="col-sm-8">
                                                <div class="text-left ml-3 mt-2 f-14">
                                                    <%= translation.forgot_password %> &nbsp;&nbsp;<a href="/forgotPassword" class="btn-link text-capitalize"><%= translation.click_here %></a>
                                                </div>
                                            </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--login page end-->
    </div>

</div>
<!--page-wrapper Ends-->

    <!-- latest jquery-->
    <script src="<%= global.url; %>/public/assets/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap js-->
    <script src="<%= global.url; %>/public/assets/js/bootstrap/popper.min.js"></script>
    <script src="<%= global.url; %>/public/assets/js/bootstrap/bootstrap.js"></script>
    <!-- Theme js-->
    <script src="<%= global.url; %>/public/assets/js/script.js"></script>

</body>

</html>