<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon" />
    <title><%= translation.register %> | <%= translation.paidthru %></title>
    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/bootstrap.css">
    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/responsive.css">
</head>
<body>
 <% for(var i=0; i<error.length; i++) { 
         if (error[i].param == 'firstname'){ var firstname =  error[i]['msg'] }
         if (error[i].param == 'lastname'){ var lastname =  error[i]['msg'] }
         if (error[i].param == 'username'){ var username =  error[i]['msg'] }
         if (error[i].param == 'email'){ var email =  error[i]['msg'] }
         if (error[i].param == 'password'){ var password =  error[i]['msg'] }
         if (error[i].param == 'confirm_password'){ var confirm_password =  error[i]['msg'] }
         if (error[i].param == 'erc20_address'){ var erc20_address =  error[i]['msg'] }
    }  
 %>
    <!--page-wrapper Start-->
    <div class="page-wrapper">
        <div class="container-fluid">
            <!--signup page start-->
            <div class="authentication-main">
                <div class="row">
                    <div class="col-md-4 p-0">
                        <div class="auth-innerleft">
                            <div class="text-center">
                                <img src="<%= global.url; %>/public/assets/images/logo.jpg" class="logo-login" alt="">
                                <hr>
                                <div class="social-media">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="fa fa-facebook" aria-hidden="true"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-twitter" aria-hidden="true"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-instagram" aria-hidden="true"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-rss" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 p-0">
                        <div class="auth-innerright">
                            <div class="authentication-box">
                                <h3><%= translation.signup %></h3>
                                <h6><%= translation.enter_reg_detail %></h6>
                                 <div class="card mt-4 p-4">
                          <% if (errorMessage.length > 0) { %>
                              <div class="alert alert-danger flash"><%= errorMessage %></div>
                          <% } %>

                          <% if (successMessage.length > 0) { %>
                              <div class="alert alert-success flash"><%= successMessage %></div>
                          <% } %>

                   <form class="theme-form" action="/register" method="post">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label"><%= translation.first %> <%= translation.name %></label>
                                        <input type="text" class="form-control" placeholder="John" name="firstname" value="<%= value.firstname; %>" autocomplete="off">
                                    
                                     <% if (firstname) { %> <span class="help-block text-danger"> <strong><%= firstname %></strong> </span>  <% }  %>
                                     </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label"><%= translation.last %> <%= translation.name %></label>
                                        <input type="text" class="form-control" placeholder="Deo" name="lastname" value="<%= value.lastname; %>" autocomplete="off">
                                    
                                    <% if (lastname) { %> <span class="help-block text-danger"> <strong><%= lastname %></strong> </span>  <% }  %>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label"><%= translation.username %></label>
                                         <input type="text" class="form-control" placeholder="John" name="username" id="username" value="<%= value.username; %>" autocomplete="off">
                                    
                                     <% if (username) { %> <span class="help-block text-danger"> <strong><%= username %></strong> </span>  <% }  %>
                                     </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label"><%= translation.email %></label>
                                         <input type="email" class="form-control" placeholder="example@gmail.com" name="email" value="<%= value.email; %>" autocomplete="off">
                              
                                    <% if (email) { %> <span class="help-block text-danger"> <strong><%= email %></strong></span>  <% }  %>
                                    </div>
                                </div>
                            </div>
                       
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label"><%= translation.password %></label>
                                         <input type="password" class="form-control" placeholder="**********" name="password">
                                   
                                     <% if (password) { %> <span class="help-block text-danger"> <strong><%= password %></strong> </span>  <% }  %>
                                     </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-form-label"><%= translation.confirm %> <%= translation.password %></label>
                                         <input type="password" class="form-control" placeholder="**********" name="confirm_password">
                                   
                                    <% if (confirm_password) { %> <span class="help-block text-danger"> <strong><%= confirm_password %></strong> </span>  <% }  %>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label"><%= translation.erc20_address %></label>
                                <input type="text" class="form-control" placeholder="<%= translation.erc20_address %>" autocomplete="off" name="erc20_address" value="<%= value.erc20_address; %>">

                                 <input type="hidden" class="form-control" placeholder="<%= translation.erc20_address %> <%= translation.sponser %>" value="" name="sponser">
                       
                            <% if (erc20_address) { %> <span class="help-block text-danger"> <strong><%= erc20_address %></strong> </span>  <% }  %>
                                 </div>
                          

                            <div class="form-row mb-5">
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-secondary"><%= translation.signup %></button>
                                </div>
                                <div class="col-sm-8">
                                    <div class="text-left ml-3 mt-2 f-14"><%= translation.already_user %> &nbsp;&nbsp;<a href="/login" class="btn-link text-capitalize"><%= translation.login %></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--signup page start-->
        </div>
    </div>
    <!--page-wrapper Ends-->
    <!-- latest jquery-->
    <script src="<%= global.url; %>/public/assets/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap js-->
    <script src="<%= global.url; %>/public/assets/js/bootstrap/popper.min.js"></script>
    <script src="<%= global.url; %>/public/assets/js/bootstrap/bootstrap.js"></script>
    <!-- Theme js-->
    <script src="<%= global.url; %>/public/assets/js/script.js"></script>
    <script>
$(document).ready(function(){
    $("#username").keypress(function(event){
    var regex = new RegExp("^[a-z0-9]+$");
    var regexp = /^\S*$/;
    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
    if (!regex.test(key) || !regexp.test(key)) {
        event.preventDefault();
        return false;
    }
    });
});
    </script>
</body>

</html>