<%- contentFor('styles'); %>
<%- contentFor('body'); %>
<% var i = 1; %>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6" data-intro="This is the name of this site">
                <h3><%= translation.game %></h3>
            </div>
            <div class="col-lg-6" data-intro="This is the name of this site">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><%= translation.game %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
   <div class="row">
    <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5><%= translation.game %> <%= translation.setting %></h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic" class="display">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th><%= translation.name %></th>
                                <th><%= translation.percentage %> </th>
                                <th><%= translation.tokens %></th>
                                <th><%= translation.action %></th>
                            </tr>
                            </thead>
                            <tbody>
                               <% if (game) { %>
                                  <% game.forEach(function(games){ %>        
                             <tr>
                                <td><%= i++ %></td>
                                <td><%= games.name %> </td>
                                <td><%= games.percentage %> %</td>
                                <td><%= games.tokens %></td>
                                <td>
                                    <button type="button" class="btn btn-primary mr-1"  data-toggle="modal" data-target="#games<%= games._id %>">
                                    <%= translation.edit %>
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="games<%= games._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body date-pick">
                                    <form  method="post" class="form-horizontal theme-form row" action="/game/update">
                                        
                                        <div class="card-body table-responsive">
                                        <div class="form-group col-md-12">
                                            <input name="game_id" type="hidden" class="form-control"   id="game_id" value="<%= games._id %>">
                                            <label for="name"><%= translation.name %></label>
                                            <input name="name" type="text" class="form-control" autocomplete="off" id="name" value="<%= games.name %>">
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label for="name"><%= translation.percentage %></label>
                                            <input name="percentage" type="number" class="form-control" autocomplete="off"  id="token" value="<%= games.percentage %>">
                                        </div>
                                       
                                        <div class="form-group col-md-12 text-right">
                                            <button type="submit" class="btn btn-primary mt-4 phase-btn"><%= translation.update %></button>
                                        </div>  

                                        </div>
                                    </form>
                                    </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= translation.close %></button>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                </td>
                            </tr>
                                   <% }) %>
                                  <% } %>   
                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>



     
<%- contentFor('scripts'); %>


