<%- contentFor('styles'); %>
<style type="text/css"></style>
<%- contentFor('body'); %>
<% var i = 1; var j = 1; var k = 1; var m = 1; var n = 1; %>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header"></div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
<div class="row">
    
<% if (game) { %>
<% game.forEach(function(games){ %>
<% if(games.name != 'Company'){%>
    <div class="col-sm-12 col-md-3">
        <div class="card">
            <div class="card-header">
                <h5><%= games.name; %></h5>
            </div>
            <div class="card-body dash-body">
               <div class="card-body d-flex text-center">
                <h3><%= games.percentage; %> % </h3>
               </div>
            </div>
        </div>
   </div>
<% } %>   
<% }) %>
<% } %>   




<div class="col-sm-12">
<div class="card">
    <div class="card-header">
        <h5><%= translation.daily %> <%= translation.winner %></h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
          <table id="basic" class="display">
            <thead>
            <tr>
                 <th><%= translation.sr_no %></th>
                <th><%= translation.date %></th>
                <th><%= translation.username %></th>
                <th><%= translation.user %> <%= translation.number %></th>
                <th><%= translation.computer %> <%= translation.number %></th>
                <th><%= translation.score %></th>
                <th><%= translation.tokens %></th>
                <th><%= translation.note %></th>
            </tr>
            </thead>
            <tbody>  
            <% if (dailyWinner) { %>
            <% dailyWinner.forEach(function(dailyWinners){ %>
                <tr>
                  <td><%= j++ %></td>
                  <td><%= new Date(dailyWinners.created_date).toLocaleString(); %></td>
                  <td><%= dailyWinners.users.username %></td>
                  <td><%= dailyWinners.user_number %></td>
                  <td><%= dailyWinners.computer_number %></td>
                  <td><%= dailyWinners.score %></td>
                  <td><%= dailyWinners.tokens %></td>
                  <td>
                  <span class="badge badge-success">1st  <%= translation.winner %></span>
                  </td>
                </tr>
             <% }) %>
            <% } %>  
            </tbody>
         </table>
        </div>
    </div>
</div>
</div>


<div class="col-sm-12">
<div class="card">
    <div class="card-header">
        <h5><%= translation.weekly %> <%= translation.winner %></h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
          <table id="basic" class="display">
            <thead>
            <tr>
                 <th><%= translation.sr_no %></th>
                <th><%= translation.date %></th>
                <th><%= translation.username %></th>
                <th><%= translation.user %> <%= translation.number %></th>
                <th><%= translation.computer %> <%= translation.number %></th>
                <th><%= translation.score %></th>
                <th><%= translation.tokens %></th>
                <th><%= translation.note %></th>
            </tr>
            </thead>
            <tbody>  
            <% if (weeklyWinner) { %>
            <% weeklyWinner.forEach(function(weeklyWinners){ %>
                <tr>
                  <td><%= k++ %></td>
                  <td><%= new Date(weeklyWinners.created_date).toLocaleString(); %></td>
                  <td><%= weeklyWinners.users.username %></td>
                  <td><%= weeklyWinners.user_number %></td>
                  <td><%= weeklyWinners.computer_number %></td>
                  <td><%= weeklyWinners.score %></td>
                  <td><%= weeklyWinners.tokens %></td>
                  <td>
                   <% if(weeklyWinners.note == 1) { %>
                     <span class="badge badge-success">1st  <%= translation.winner %></span>
                   <% } else if(weeklyWinners.note == 2) { %> 
                     <span class="badge badge-warning">2nd  <%= translation.winner %></span>
                   <% } else if(weeklyWinners.note == 3) { %> 
                     <span class="badge badge-primary">3rd  <%= translation.winner %></span>
                   <% } %>
                   </td>
                </tr>
             <% }) %>
            <% } %>  
            </tbody>
         </table>
        </div>
    </div>
</div>
</div>


<div class="col-sm-12">
<div class="card">
    <div class="card-header">
        <h5><%= translation.monthly %> <%= translation.winner %></h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
          <table id="basic" class="display">
            <thead>
            <tr>
                 <th><%= translation.sr_no %></th>
                <th><%= translation.date %></th>
                <th><%= translation.username %></th>
                <th><%= translation.user %> <%= translation.number %></th>
                <th><%= translation.computer %> <%= translation.number %></th>
                <th><%= translation.score %></th>
                <th><%= translation.tokens %></th>
                <th><%= translation.note %></th>
            </tr>
            </thead>
            <tbody>  
              <% if (monthlyWinner) { %>
            <% monthlyWinner.forEach(function(monthlyWinners){ %>
                <tr>
                  <td><%= m++ %></td>
                  <td><%= new Date(monthlyWinners.created_date).toLocaleString(); %></td>
                  <td><%= monthlyWinners.users.username %></td>
                  <td><%= monthlyWinners.user_number %></td>
                  <td><%= monthlyWinners.computer_number %></td>
                  <td><%= monthlyWinners.score %></td>
                  <td><%= monthlyWinners.tokens %></td>
                  <td>  
                  <% if(monthlyWinners.note == 1) { %>
                     <span class="badge badge-success">1st  <%= translation.winner %></span>
                   <% } else if(monthlyWinners.note == 2) { %> 
                     <span class="badge badge-warning">2nd  <%= translation.winner %></span>
                   <% } else if(monthlyWinners.note == 3) { %> 
                     <span class="badge badge-primary">3rd  <%= translation.winner %></span>
                   <% } %>
                   </td>
                </tr>
             <% }) %>
            <% } %>  
            </tbody>
         </table>
        </div>
    </div>
</div>
</div>


<div class="col-sm-12">
<div class="card">
    <div class="card-header">
        <h5><%= translation.jackpot %> <%= translation.winner %></h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
          <table id="basic" class="display">
            <thead>
            <tr>
                <th><%= translation.sr_no %></th>
                <th><%= translation.date %></th>
                <th><%= translation.username %></th>
                <th><%= translation.user %> <%= translation.number %></th>
                <th><%= translation.computer %> <%= translation.number %></th>
                <th><%= translation.score %></th>
                <th><%= translation.tokens %></th>
                <th><%= translation.note %></th>
            </tr>
            </thead>
            <tbody>  
              <% if (jackpotWinner) { %>
            <% jackpotWinner.forEach(function(jackpotWinners){ %>
                <tr>
                  <td><%= n++ %></td>
                  <td><%= new Date(jackpotWinners.created_date).toLocaleString(); %></td>
                  <td><%= jackpotWinners.users.username %></td>
                  <td><%= jackpotWinners.user_number %></td>
                  <td><%= jackpotWinners.computer_number %></td>
                  <td><%= jackpotWinners.score %></td>
                  <td><%= jackpotWinners.tokens %></td>
                  <td><span class="badge badge-success"><%= translation.jackpot %>  <%= translation.winner %></span></td>
                </tr>
             <% }) %>
            <% } %>  
            </tbody>
         </table>
        </div>
    </div>
</div>
</div>


</div>
</div>


<%- contentFor('scripts'); %>