<%- contentFor('styles'); %>
<%- contentFor('body'); %>
<% var i = 1; %>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6" data-intro="This is the name of this site">
                <h3><%= translation.rate %></h3>
            </div>
            <div class="col-lg-6" data-intro="This is the name of this site">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><%= translation.rate %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
   <div class="row">

    <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5><%= translation.rate %></h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic" class="display">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th><%= translation.name %></th>
                                <th><%= translation.sold %> <%= translation.tokens %></th>
                                <th><%= translation.bonus %></th>
                                <th><%= translation.start %> <%= translation.date %></th>
                                <th><%= translation.end %> <%= translation.date %></th>
                                <th><%= translation.action %></th>
                             
                            </tr>
                            </thead>
                            <tbody>
                               <% if (rate) { %>
                                  <% rate.forEach(function(rates){ %>        
                             <tr>
                                <td><%= i++ %></td>
                                <td><%= rates.name %></td>
                                <td><%= rates.totalSupplyToken %></td>
                                <td><%= rates.bonus %></td>
                                <td><%= rates.icoStartDate %></td>
                                <td><%= rates.icoEndDate %></td>
                                <td>
                                            
                                        <!-- edit popup -->
                                    <button type="button" class="btn btn-primary mr-1"  data-toggle="modal" data-target="#rate<%= rates._id %>">
                                    <%= translation.edit %>
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="rate<%= rates._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Phase Edit</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body date-pick">
                                        <form  method="post" class="form-horizontal theme-form row" action="rate/update"> 
  
                                        <div class="card-body table-responsive">
                                        <div class="form-group col-md-12">
                                        <input name="rate_id" type="hidden" class="form-control"  id="rate_id" value="<%= rates._id %>">
                                        <label for="name"><%= translation.name %></label>
                                        <input name="name" type="text" class="form-control" disabled id="name" value="<%= rates.name %>">
                                        </div>
                                        <div class="form-group col-md-12">
                                        <label for="sold_coins"><%= translation.sold %> <%= translation.coin %></label>
                                        <input name="totalSupplyToken" type="number" class="form-control" id="totalSupplyToken" value="<%= rates.totalSupplyToken %>" step="any">
                                        </div>
                                        <div class="form-group col-md-12">
                                        <label for="bonus"><%= translation.bonus %></label>
                                        <input name="bonus" type="number" class="form-control" id="bonus" value="<%= rates.bonus %>" step="any">
                                        </div>

                                        <div class="form-group col-md-12">
                                        <label for="start_date"><%= translation.start %> <%= translation.date %></label> 
                                          <div class="input-group date" id="start_date" data-target-input="nearest">
                                        <input type="text" data-language="en" name="start_date" autocomplete="off" class="datepicker-here form-control digits" value="<%= rates.icoStartDate %>">
                                        <div class="input-group-addon" data-target="#start_date"  data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                        </div> 
                                        </div> 

                                        <div class="form-group col-md-12 date">
                                        <label for="end_date"><%= translation.end %> <%= translation.date %></label>  
                                          <div class="input-group date" id="end_date" data-target-input="nearest">
                                        <input type="text" data-language="en" name="end_date" autocomplete="off" class="datepicker-here form-control digits"  value="<%= rates.icoEndDate %>">
                                        <div class="input-group-addon" data-target="#end_date" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                        </div> 
                                        </div> 
                                        <div class="form-group col-md-12 text-right">
                                        <button type="submit" class="btn btn-primary mt-4 phase-btn"><%= translation.update %></button>
                                        </div>  

                                        </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= translation.close %></button>

                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                        <!-- end edit popup -->

                                </td>
                            </tr>
                                   <% }) %>
                                  <% } %>   
                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>



     <!-- sold popup start -->
                                         <!--    <button type="button" class="btn btn-warning mr-1"  data-toggle="modal" data-target="#exampleModal">
                                            Add Sold Tokens
                                            </button> -->

                                            <!-- Modal -->
                                           <!--  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Pre-Sale Period</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                            <form method="POST" action="#" accept-charset="UTF-8" id="formsubmit2"></form><input name="_token" type="hidden" value="">
                                            <div class="form-group ">
                                            <label class="control-label " for="name">Add in sold tokens </label>
                                            <div class="row">
                                            <div class="col-md-5 col-sm-5 col-xs-5">
                                            <input class="form-control" id="name" name="" value="0" disabled="" type="text">
                                            </div>
                                            <div class="col-md-1 col-sm-1 col-xs-1 text-center">+</div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                            <input class="form-control" id="name" name="Tokens" placeholder="add to sold Tokens " type="text" pattern="[1-9]">
                                            </div>
                                            </div>
                                            </div>

                                            </div>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Submit</button>
                                            </div>
                                            </div>
                                            </div>
                                            </div> -->
<%- contentFor('scripts'); %>


