<%- contentFor('styles'); %>
<%- contentFor('body'); %>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6" data-intro="This is the name of this site">
                <h3><%= translation.setting %></h3>
            </div>
            <div class="col-lg-6" data-intro="This is the name of this site">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><%= translation.setting %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
   <div class="row">
    <div class="col-sm-12 setting-rate">
            <div class="card">
                <div class="card-header">
                    <h5><%= translation.setting %> <%= translation.update %></h5>
                </div>
          <div class="card-body">
                     <form action="setting/update" method="post">
                <div class="card-body table-responsive">

            <div class="form-group col-md-6">
              <label for="ico_end_date"><%= translation.ico %> <%= translation.setting %>  <%= translation.date %></label>
              <div class="input-group date" id="start_date" data-target-input="nearest">
                <input type="text" data-language="en" class="datepicker-here form-control digits" disabled name="icoStartDate" value="<%= setting.icoStartDate; %>" aria-describedby="basic-addon2">
            <!--     <input  type="text" name="" class="form-control datetimepicker-input" data-target="" value="<%= setting.icoStartDate; %>"> -->
                <div class="input-group-addon" data-target="#start_date" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="ico_end_date"><%= translation.ico %> <%= translation.end %> <%= translation.date %></label> 
              <div class="input-group date" id="end_date" data-target-input="nearest">
                  <!-- <input  type="text" name="" class="form-control datetimepicker-input" data-target="" value="<%= setting.icoEndDate; %>"> -->
                   <input type="text" data-language="en" class="datepicker-here form-control digits" disabled name="icoEndDate" value="<%= setting.icoEndDate; %>" aria-describedby="basic-addon2">
                  <div class="input-group-addon" data-target="#end_date" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
              </div> 
            </div> 
            
            <div class="form-group date-time col-sm-6">
              <label for="total_coins"><%= translation.total %> <%= translation.coin %>:</label>
              <input class="form-control" type="text" name="totalSupplyToken" id="totalSupplyToken" autocomplete="off" value="<%= setting.totalSupplyToken; %>">
            </div>    
            
            <div class="form-group date-time col-sm-6">
              <label for="sold_coins"><%= translation.sold %> <%= translation.coin %>:</label>
              <input class="form-control" type="text"  name="soldToken" disabled id="soldToken"  autocomplete="off" value="<%= setting.soldToken; %>">
            </div>   
            
            <div class="form-group date-time col-sm-6">
              <label for="rate"><%= translation.token %> <%= translation.price %>:</label>
              <input  class="form-control" type="text"  name="rate" id="rate"  autocomplete="off" value="<%= setting.rate; %>">
            </div>
      
            
            <div class="form-group date-time col-sm-6">
               <label for="ref_bonus"><%= translation.bonus %>:</label>
               <input class="form-control" type="text" disabled="" name="bonus" id="bonus"  autocomplete="off" value="<%= setting.bonus; %>">
            </div>

            <div class="form-group date-time col-sm-6">
              <label for="ref_bonus"><%= translation.referral %>. <%= translation.bonus %>:</label>
              <input class="form-control" type="text"  name="ref_bonus" id="ref_bonus"  autocomplete="off" value="<%= setting.ref_bonus; %>">
            </div>


            <div class="form-group date-time col-sm-6">
              <label for="game">1 <%= translation.play %> <%= translation.game %>:</label>
              <input class="form-control" type="text"  autocomplete="off"  name="game" id="game" value="<%= setting.game; %>">
            </div>
          
          

            <div class="form-group col-md-12">
                <label for=""><%= translation.enabledesaible %></label>
                <div class="media-body">
                <label class="switch">
                  <% if(setting.withdrawalStatus == 0) {%>
                <input type="checkbox" name="withdrawalStatus" <% if(setting.withdrawalStatus == 0) {%> checked <% } %> >
                <% } else { %>
                  <input type="checkbox" name="withdrawalStatus" value="0" >
                  <% } %>
                <span class="switch-state"></span>
                </label>
                </div>
            </div>
        

            <div class="form-group col-md-12">
              <button type="submit" class="btn btn-primary mt-4 setting-btn"><%= translation.update %></button>
            </div>
          
                </div>
            </form>

                </div>
            </div>
        </div>
   </div>
</div>

<%- contentFor('scripts'); %>


