<%- contentFor('styles'); %>
<style type="text/css">
.badge-warning {
    color: #ffffff;
    background-color: #ffc107;
}
a.btn.btn-success.confirmation {
    font-size: 12px;
}
a.btn.btn-primary.confirmation {
    font-size: 12px;;
    color: #fff;
}
button.btn.btn-warning {
    color: #fff;
}
</style>
<%- contentFor('body'); %>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6" data-intro="This is the name of this site">
                <h3><%= translation.manage %> <%= translation.users %></h3>
            </div>
            <div class="col-lg-6" data-intro="This is the name of this site">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><%= translation.manage %> <%= translation.users %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
   <div class="row">
        <div class="col-sm-12">
 <% if (errorMessage.length > 0) { %>
              <div class="alert alert-danger flash"><%= errorMessage %></div>
          <% } %>

          <% if (successMessage.length > 0) { %>
              <div class="alert alert-success flash"><%= successMessage %></div>
          <% } %>
      </div>
    <div class="col-sm-12 kyc">
            <div class="card">
                <div class="card-header">
                    <h5><%= translation.manage %> <%= translation.users %></h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basic" class="display">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th><%= translation.username %></th>
                                <th><%= translation.fullname %></th>
                                <th><%= translation.email %></th>
                                <th><%= translation.balance %></th>
                                <th><%= translation.kyc %> <%= translation.status %></th>
                                <th><%= translation.account %> <%= translation.status %></th>
                            </tr>
                            </thead>
                            <tbody>

                      <% var i=1; %>
                      <% users.forEach(function(users){ %>
                            <tr>
                                <td class="sorting_1"><%= i++;  %></td>
                                <td><%= users.username; %></td>
                                <td><%= users.firstname; %> <%= users.lastname; %></td>
                                <td><%= users.email; %></td>

                                <td><a href="#"><button class="btn btn-success" data-toggle="modal" data-target="#bal<%= users._id; %>"><i class="fa fa-eye"></i>&nbsp;<%= translation.view %></button></a></td>



                                    <!-- Modal  kyc -->
   
    <div class="modal fade view-modal" id="bal<%= users._id; %>" tabindex="-1" role="dialog" aria-labelledby="bal" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel"> Balances</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
          <div class="row">
              <ul class="view-balance">
              <li class="rating-info"><img src="<%= global.url; %>/public/assets/images/btc-1.png" ><%- users.btc_bal.toFixed(8); %> </li>

                <li class="rating-info"><img src="<%= global.url; %>/public/assets/images/eth-1.png" ><%- users.eth_bal.toFixed(8); %></li>

                 <li class="rating-info"><img src="<%= global.url; %>/public/assets/images/ltc-1.png" ><%- users.ltc_bal.toFixed(8); %></li>

                  <li class="rating-info"><img src="<%= global.url; %>/public/assets/images/paid-1.png" ><%- users.token_bal.toFixed(2); %></li>
</ul>
<ul class="view-balance" style="margin-top:  15px;">
                  <li class="rating-info"><img src="<%= global.url; %>/public/assets/images/usd-1.png" ><%- users.usd_bal.toFixed(2); %></li>

                  <li class="rating-info"><img src="<%= global.url; %>/public/assets/images/eur-1.png" ><%- users.eur_bal.toFixed(2); %></li>

                  <li class="rating-info"><img src="<%= global.url; %>/public/assets/images/gbp-1.png" ><%- users.gbp_bal.toFixed(2); %></li>
           
            </ul>
              
           
            
          </div>
    </div>
    <div class="modal-footer">
   
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
    </div>
    </div>
    </div>
    </div>



                                <td class="user-m">
                                    <a href="#"><button class="btn btn-warning"  <% if(!users.kyc_front && !users.kyc_back && !users.kyc_selfie) { %> disabled <% } %> data-toggle="modal" data-target="#<%= users._id; %>"><i class="fa fa-eye"></i>&nbsp;<%= translation.kyc %></button></a>
                                      <!-- Button trigger modal -->


            <!-- Modal  kyc -->
   

    <div class="modal fade kyc-modal" id="<%= users._id; %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

    <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel"><%= users.username; %> KYC</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <div class="kyc-approve">
                <img src="<%= global.url; %>/public/assets/images/kyc/<%- users.kyc_front; %>" class="img-fluid" >
                
              </div>
            </div>
            <div class="col-md-4">
              <div class="kyc-approve">
                <img src="<%= global.url; %>/public/assets/images/kyc/<%- users.kyc_back; %>" class="img-fluid" >
              </div>
            </div>
            <div class="col-md-4">
              <div class="kyc-approve">
                <img src="<%= global.url; %>/public/assets/images/kyc/<%- users.kyc_selfie; %>" class="img-fluid" >
              </div>
            </div>
          </div>
    </div>
    <div class="modal-footer">
    <% if (users.kyc_status == 0) { %> 
    <a href="users/kyc/approve/<%= users._id; %>" class="btn btn-success confirmation">Approve</a>
    <a href="users/kyc/reject/<%= users._id; %>" class="btn btn-primary confirmation">Reject</a>

    <% } %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      
    </div>
    </div>
    </div>
    </div>
   
                                     <% if (users.kyc_status == 0) { %>  <span class="badge badge-warning"> <%= translation.pending %> </span> <% } %>
                                   <% if (users.kyc_status == 1) { %>  <span class="badge badge-success"> <%= translation.verified %> </span> <% } %>
                                   <% if (users.kyc_status == -1) { %>  <span class="badge badge-primary"> <%= translation.rejected %> </span> <% } %>
                               
                                 </td>
                                <td>
                               
                             <% if (users.is_active == 0) { %> 
                              <a href='users/activate/<%= users._id; %>' class='confirmation'><button class='btn btn-success'><i class='fa fa-check' aria-hidden='true'></i>&nbsp;<%= translation.active %></button></a>
                             <% } %>
                            
                             <% if (users.is_active == 1) { %> 
                              <a href='users/block/<%= users._id; %>' class='confirmation'><button class='btn btn-primary '><i class='fa fa-times' aria-hidden='true'></i>&nbsp;<%= translation.block %></button></a>
                             <% } %>

                             <% if (users.is_deleted == 0) { %> 
                             <a href='users/delete/<%= users._id; %>' class='confirmation'><button class='btn btn-info ml-1'><i class='fa fa-trash' aria-hidden='true'></i>&nbsp;<%= translation.delete %></button></a>
                              </td>
                              <% } %>

                            </tr>
                     <% }); %>  

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>

<%- contentFor('scripts'); %>

