<%- contentFor('styles'); %>
<%- contentFor('body'); %>
<% for(var i=0; i<error.length; i++) { 
         if (error[i].param == 'currentpassword'){ var currentpassword =  error[i]['msg']; }
         if (error[i].param == 'new_password'){ var new_password =  error[i]['msg']; }
         if (error[i].param == 'confirm_password'){ var confirm_password =  error[i]['msg']; }
        } 
 %>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6" data-intro="This is the name of this site">
                <h3><%= translation.change %> <%= translation.password %></h3>
            </div>
            <div class="col-lg-6" data-intro="This is the name of this site">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><%= translation.change %> <%= translation.password %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
  <div class="row">
        <div class="col-sm-12">
         <% if (errorMessage.length > 0) { %>
              <div class="alert alert-danger flash"><%= errorMessage %></div>
          <% } %>

          <% if (successMessage.length > 0) { %>
              <div class="alert alert-success flash"><%= successMessage %></div>
          <% } %>

            <div class="card">
                <div class="card-header">
                    <h5>Change Password</h5>
                </div>
                <div class="card-body">
                      <form class="form theme-form" method="post" action="/changePassword">
                           
                               <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="cpassword"><%= translation.current %> <%= translation.password %></label>
                                            <input type="password" class="form-control" name="currentpassword" id="currentpassword" placeholder="">
                                            <% if (currentpassword) { %> <span class="help-block text-danger"> <strong><%= currentpassword %></strong> </span>  <% }  %>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="newpasword"><%= translation.new %> <%= translation.password %></label>
                                            <input type="password" class="form-control" name="new_password" id="newpasword" placeholder="">
                                              <% if (new_password) { %> <span class="help-block text-danger"> <strong><%= new_password %></strong> </span>  <% }  %>
                                        </div>
                                    </div>
                                </div>

                                 <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="cnewpasword"><%= translation.confirm %><%= translation.new %> <%= translation.password %></label>
                                            <input type="password" class="form-control" name="confirm_password" id="cnewpasword" placeholder="">
                                             <% if (confirm_password) { %> <span class="help-block text-danger"> <strong><%= confirm_password %></strong> </span>  <% }  %>
                                        </div>
                                    </div>
                                </div>
                                 <div class="card-footer">
                                <button type="submit" class="btn btn-primary"><%= translation.submit %> </button>
                            </div>
                        </form>
                            </div>
                           
                </div>
            </div>
      </div>
</div>
<%- contentFor('scripts') %>
