<%- contentFor('styles'); %>
<style type="text/css"></style>
<%- contentFor('body'); %>
<% for(var i=0; i<error.length; i++) { 
         if (error[i].param == 'firstname'){ var firstname =  error[i]['msg']; }
         if (error[i].param == 'lastname'){ var lastname =  error[i]['msg']; }
        }  
 %>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6" data-intro="This is the name of this site">
                <h3><%= translation.profile %></h3>
            </div>
            <div class="col-lg-6" data-intro="This is the name of this site">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><%= translation.profile %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
  <div class="row">
     <div class="col-sm-12">
     <% if (errorMessage.length > 0) { %>
              <div class="alert alert-danger flash"><%= errorMessage; %></div>
          <% } %>

          <% if (successMessage.length > 0) { %>
              <div class="alert alert-success flash"><%= successMessage; %></div>
          <% } %>
      </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5><%= translation.edit %> <%= translation.profile %></h5>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-12 col-xl-3 text-center">
                            <div class="card-body">
                              <form action="/updateProfile" method="post" enctype= "multipart/form-data">
                                <div class="profile">
                                   <div class="avatar-upload">
                                        <div class="avatar-edit">
                                            <input type='file' id="imageUpload" name="imageUpload" accept=".png, .jpg, .jpeg" />
                                            <label for="imageUpload"></label>
                                        </div>
                                        <div class="avatar-preview">
                                            <!-- <img src="<%= global.url; %>/public/assets/images/users/<%- user.profile; %>" class="img-fluid"> -->
                                            <% if(user.profile) { %>
                                            <div id="imagePreview" style="background-image: url(<%= global.url; %>/public/assets/images/users/<%- user.profile; %>);"></div>
                                             <% } else {%>
                                               <div id="imagePreview" style="background-image: url(<%= global.url; %>/public/assets/images/users/avatar.png);"></div>
                                              <% } %>
                                        </div>
                                         <h6><%- user.firstname; %> <%- user.lastname; %></h6>
                                    </div>
                                    <div class="col-12 upload-btn">
                                      <div class="d-flex">
                                    <button class="btn btn-primary"><%= translation.update %></button>
                                  </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                       
                <div class="card-body col-md-6 col-lg-12 col-xl-9">
                      <form class="form theme-form"  method="post" action="/profile">
                              <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="fname"><%= translation.first %> <%= translation.name %></label>
                                            <input type="text" class="form-control" value="<%- user.firstname; %>" name="firstname" id="fname" placeholder="">
                                             <% if (firstname) { %> <span class="help-block text-danger"> <strong><%= firstname; %></strong> </span>  <% }  %>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="lname"><%= translation.last %> <%= translation.name %></label>
                                            <input type="text" class="form-control" value="<%- user.lastname; %>" name="lastname" id="lname" placeholder="">
                                             <% if (lastname) { %> <span class="help-block text-danger"> <strong><%= lastname %></strong> </span>  <% }  %>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="username"><%= translation.username %></label>
                                            <input type="text" class="form-control" disabled value="<%- user.username; %>" name="username" id="usernaem" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="email"><%= translation.email %></label>
                                            <input type="email" class="form-control" disabled value="<%- user.email; %>" name="email" id="exampleFormControlInput1" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                 <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="erc20address"><%= translation.erc20_address %></label>
                                            <input type="text" class="form-control" disabled value="<%- user.erc20_address; %>" name="erc20_address" id="erc20address" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="erc20address"><%= translation.google_2fa %></label>
                                           <div class="media-body">
                                            <label class="switch">
                                               <input type="checkbox" class="2famodal"  id="2fa" <% if (user.isset_2fa == 1) { %> checked="checked"  <% } %> >
                                                <span class="switch-state"></span>
                                            </label>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                    
                                    <div class="card-footer">
                                      <button type="submit" class="btn btn-primary"><%= translation.submit %></button>
                                      </div>
                                      </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>

<!--2fa enable popup-->
<div id="2fa_enable" class="modal modal-styled fade in modals-body ">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="text-center text-dark w-100"><%= translation.enable %> <%= translation.google_2fa %></h4>
            <button type="button" class="close enabledModal" data-dismiss="modal">
            <span aria-hidden="true">×</span>
            <span class="sr-only"><%= translation.close %></span>
            </button>
         </div>
         <form id="gauth-formnew" inspfaactive="true" action="/enable-2fa" method="post" class="">
            <div class="modal-body theme-form">
               <div id="alert-msg-enable"></div>
               <div>
                  <p class="text-center mb-0"><strong><%= translation.scan_qr_code %></strong></p>
                  <div class="qrcode text-center" >
                  </div>
                  <p class="text-center"><strong> <%= translation.enter_this_code_manually %></strong></p>
                  <h3 class="text-center secret text-dark" style="font-size: 18px;"></h3>
                  <input type="hidden" name="secret_key" id="secret">
               </div>
               <div class="row margin12" id="match-otp-2fa_enable">
                  <div class="col-md-12">
                     <div class="form-group token_error text-center">
                        <label for="" style="color:black;"> <%= translation.authenticator %>  <%= translation.code %></label>
                        <input type="number" class="form-control aucode google_2fa" autocomplete="off" placeholder="<%= translation.g2fa_text4 %> " id="google_2fa_otp_enable" name="totp" onkeyup="checkOTPEnable()">
                     </div>
                  </div>
               </div>
               <div class="text-center">
                  <code><%= translation.g2fa_text1 %></code>
               </div>
            </div>
            <div class="modal-footer text-center">
               <button type="button" class="btn btn-theme mt-4 enabledModal"  data-dismiss="modal"><%= translation.close %></button>
               <button type="submit" class="btn btn-theme mt-4" id="enable-2fa" ><%= translation.g2fa_text2 %></button>
            </div>
         </form>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!--2fa disable popup-->
<div id="2fa_disable" class="modal modal-styled fade in modals-body">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="text-center text-dark w-100"><%= translation.disable %> <%= translation.google_2fa %></h4>
            <button type="button" class="close disabledModal" data-dismiss="modal">
            <span aria-hidden="true">×</span>
            <span class="sr-only"><%= translation.close %></span>
            </button>
         </div>
         <form id="gauth-form" class=" theme-form" inspfaactive="true" action="/disable-2fa" method="post">
            <div class="modal-body">
               <div id="google_auth_msg"></div>
               <div class="row" id="match-otp-2fa">
                  <div class="col-12">
                     <div class="form-group text-center">
                        <label class="text-dark"><%= translation.enter %> <%= translation.otp_lable %> </label>
                        <input type="number" name="google_2fa_otp" id="google_2fa_otp" class="form-control google_2fa" onkeyup="checkOTP()" placeholder="<%= translation.g2fa_text5 %>" row="100" />
                     </div>
                  </div>
               </div>
                <div class="modal-footer">
                  <div class="row">
               <div class="col-9">
                     <button type="submit" class="btn btn-theme " id="disable-2fa" ><%= translation.g2fa_text3 %></button>
               </div>
                 <div class="col-3">
                 <button type="button" class="btn button-close btn-theme disabledModal" data-dismiss="modal"><%= translation.close %></button>
              </div>
            </div>
          </div>
             </div>
         </form>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>

<% if(user.role == 1) { %>
           <div class="col-sm-12">
              <div class="card">
               <div class="card-header">
                  <h5><%= translation.upload %> <%= translation.kyc %></h5>
                </div>
              <div class="card-body">
                    <form class="form theme-form" method="post" action="/uploadKyc" enctype= "multipart/form-data">
                          <div class="row">
                                  <div class="col-md-6 col-xl-4 text-center">
                                       <% if (user.kyc_front) { %>
                                      <div class="kyc-block">
                                         <img src="<%= global.url; %>/public/assets/images/kyc/<%- user.kyc_front; %>" class="img-fluid">
                                      </div>
                                      <% } %>

                                       <label class="kyc-lable" for="fname"><%= translation.front %> <%= translation.page %></label>

                                        <% if (!user.kyc_front) { %>
                                          <div class="form-group">
                                              <div class="file-upload">
                                              <label for="upload" class="file-upload__label">Upload</label>
                                           <input id="upload" class="file-upload__input" type="file" name="first_id_proof">
                                              </div>
                                          </div>
                                           <% } %>  


                                  </div>
                              
                              
                                 <div class="col-md-6 col-xl-4 text-center">
                                   
                                   <% if (user.kyc_back) { %>
                                      <div class="kyc-block">
                                         <img src="<%= global.url; %>/public/assets/images/kyc/<%- user.kyc_back; %>" class="img-fluid">
                                      </div>
                                     <% } %> 

                                       <label class="kyc-lable"  for="fname"><%= translation.back %> <%= translation.page %></label>
                                    
                                     <% if (!user.kyc_back) { %>
                                      <div class="form-group">
                                          <div class="file-upload">
                                          <label  for="upload" class="file-upload__label"><%= translation.upload %></label>
                                       <input id="upload" class="file-upload__input" type="file" name="second_id_proof">
                                          </div>
                                      </div>
                                       <% } %>  

                                   </div>
                                  <div class="col-md-6 col-xl-4 text-center">
                                    
                                    <% if (user.kyc_selfie) { %>
                                      <div class="kyc-block">
                                         <img src="<%= global.url; %>/public/assets/images/kyc/<%- user.kyc_selfie; %>" class="img-fluid">
                                      </div>
                                       <% } %> 

                                       <label class="kyc-lable" for="fname"><%= translation.with_selfie %></label>
                                <% if (!user.kyc_selfie) { %>
                                      <div class="form-group">
                                          <div class="file-upload">
                                          <label for="upload" class="file-upload__label "><%= translation.upload %></label>
                                       <input id="upload" class="file-upload__input" type="file" name="third_id_proof">
                                          </div>
                                      </div>
                                    <% } %>      
                                

                                  </div>
                              </div>
                            <div class="col-12 ">
                          <div class="card-footer">
                              <button type="submit" class="btn btn-primary"><%= translation.submit %></button>
                          </div>
                         </div>
                      </div>
                      </form>
              </div>
          </div>
         </div>

<% } %>
     </div>
</div>



<%- contentFor('scripts'); %>

<script type="text/javascript">
    


  $('.enabledModal').click(function(){
    $('.2famodal').prop("checked",false)
  }); 

  $('.disabledModal').click(function(){
    $('.2famodal').prop("checked",true)
  });

  $('#2fa').click(function(){
    if($(this).prop("checked") == true){
        $('#2fa_enable').modal('show');
        $("#match-otp-2fa_enable").show();
           $.ajax({
               type: 'get',
               url:"/create-2fa",
               success: function (responseData) {
                 $('.qrcode').empty();
                 $('.secret').empty();
                 $('.qrcode').append('<img src="'+responseData['image_url']+'">');
                 $('.secret').text(responseData['secret']);
                 $('#secret').val(responseData['secret']);
               },
               error: function (responseData) {
                 console.log(responseData);
                 return false;
               }
           });
    }
    else if($(this).prop("checked") == false){
         $('#2fa_disable').modal('show');
         $("#disable-2fa").prop('disabled', true);
         $("#google_auth_msg").html('');
         $("#match-otp-2fa").show();
         $('#qrmatch').modal('show');
    }
  });



// Check OTP
function checkOTPEnable() {
     var code= $("#google_2fa_otp_enable").val();   
     if(code.length == 6) {
       $.ajax({
         type: 'post',
         url:"/validate-otp",
         data: "totp="+code,
         success: function (responseData) {
           if(responseData==1)
           {
             //$("#match-otp-2fa_enable").hide();
             $("#alert-msg-enable").html("<div class='alert alert-success'>OTP match successfully</div>");
             $("#enable-2fa").prop('disabled', false);
           }
         },
         error: function (responseData) {
           $("#alert-msg-enable").html("<div class='alert alert-danger'>Nice try but OTP not match, Please try again.</div>");
           console.log(responseData);
           return false;
         }
       });
     }
     else {
         $("#alert-msg-enable").html("<div class='alert alert-danger'>Enter 6 digit only, Please try again.</div>");
         console.log(responseData);
         return false;
     }
}


// Check OTP DIsable
function checkOTP(){
       $("#google_auth_msg").html('');
       var code= $("#google_2fa_otp").val();
       if(code.length == 6)
       {
         $.ajax({
           type: 'post',
           url:"validate-otp",
           data: "totp="+code,
           success: function (responseData) {
           console.log(responseData);
             if(responseData==1)
             {
               //$("#match-otp-2fa").hide();
               $("#google_auth_msg").html("<div class='alert alert-success'>OTP match successfully</div>");
               //$("#google_2fa_otp").val('');
               $("#disable-2fa").prop('disabled', false);
             }
             else{
               $("#google_auth_msg").html("<div class='alert alert-danger'>Nice try but OTP not match, Please try again.</div>");
             }
           },
           error: function (responseData) {
             $("#google_auth_msg").html("<div class='alert alert-danger'>Nice try but OTP not match, Please try again.</div>");
             console.log(responseData);
             return false;
           }
         });
       }
}

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview').hide();
            $('#imagePreview').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
    }
}
$("#imageUpload").change(function() {
    readURL(this);
});
</script>


