<!--Page Header Start-->
<div class="page-main-header">
    <div class="main-header-left">
        <div class="logo-wrapper">
            <a href="/dashboard">
                <img src="<%= global.url; %>/public/assets/images/logo.jpg"  alt=""/>
            </a>
        </div>
    </div>
    <div class="main-header-right row">
        <div class="mobile-sidebar">
            <div class="media-body text-right switch-sm">
                <label class="switch">
                    <input type="checkbox" id="sidebar-toggle" checked>
                    <span class="switch-state"></span>
                </label>
            </div>
        </div>
 
               
            
        <div class="nav-right col">

            <ul class="nav-menus ">
                <li>
                  <div class="copy-link">
                      <input type="text" id="ref"  value="<%= global.url; %>/refer/<%= user.username; %>" />
                        <button data-copytarget="#ref"><img src="<%= global.url; %>/public/assets/images/copy.png" ></button>
            </div>
            </li>
               <li class="rating-info"><img src="<%= global.url; %>/public/assets/images/btc-1.png" ><span>1  <%= translation.btc; %> </span> = $ <%- setting.btc_price; %></li>

                <li class="rating-info"><img src="<%= global.url; %>/public/assets/images/eth-1.png" ><span>1  <%= translation.eth; %> </span> = $ <%- setting.eth_price; %></li>

                 <li class="rating-info"><img src="<%= global.url; %>/public/assets/images/ltc-1.png" ><span>1  <%= translation.ltc; %> </span> = $ <%- setting.ltc_price; %></li>

                 

                 <li>
                    <div class="dropdown show lang ">
                      <a class="btn btn-join dropdown-toggle mr-2" href="" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Language
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item <%=(lang=="english"?"active":"")%>"  onclick="changeLang('english')" >English</a>
                          <a class="dropdown-item <%=(lang=="korean"?"active":"")%>" onclick="changeLang('korean')" >Korean</a>
                          <a class="dropdown-item <%=(lang=="russian"?"active":"")%>" onclick="changeLang('russian')" >Russian</a>
                          <a class="dropdown-item <%=(lang=="spanish"?"active":"")%>" onclick="changeLang('spanish')" >Spanish</a>
                          <a class="dropdown-item <%=(lang=="chinese"?"active":"")%>" onclick="changeLang('chinese')" >Chinese</a>
                      </div>
                </div>
                 </li>
                 
                <li class="onhover-dropdown">
                    <div class="media  align-items-center">
                       
                        <div class="media-body">
                            <h6 class="m-0 txt-dark f-16">
                                 <%= translation.my_account %>
                                <i class="fa fa-angle-down pull-right ml-2"></i>
                            </h6>
                        </div>
                    </div>
                    <ul class="profile-dropdown onhover-show-div p-20">
                        <li>
                            <a href="/profile">
                                <i class="icon-user"></i>
                                 <%= translation.edit %>  <%= translation.profile %>
                            </a>
                        </li>
                        <li>
                            <a href="/changePassword">
                                <i class="icon-lock"></i>
                                 <%= translation.change %>  <%= translation.password %>
                            </a>
                        </li>
                        <li>
                            <a href="/logout">
                                <i class="icon-power-off"></i>
                                 <%= translation.logout %>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="d-lg-none mobile-toggle">
                <i class="icon-more"></i>
            </div>
        </div>
    </div>
</div>

<!--Page Header Ends-->


