   <!--Google font-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
<!-- Font Awesome -->
<link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/fontawesome.css">
<!-- iconfont -->
<link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/icofont.css">
<!-- Themify icon -->
<link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/themify.css">
<!-- Flag icon -->
<link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/flag-icon.css">
<!-- App css -->
<link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/style.css">
<!-- Bootstrap css -->
<link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/bootstrap.css">
 <!-- DatePicker css -->
<link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/date-picker.css">
<!-- Responsive css -->
<link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/responsive.css">
<!--JSGrid css-->
<link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/datatables.css" />
<!--JSchart css-->
<link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/jquery.orgchart.css" />
<!-- Custom css -->
<link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/custom.css">
<!-- animation -->
<link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/animate.min.css">

