<!-- latest jquery-->
<script src="<%= global.url; %>/public/assets/js/jquery-3.2.1.min.js" ></script>
<!-- Bootstrap js-->
<script src="<%= global.url; %>/public/assets/js/bootstrap/popper.min.js" ></script>
<script src="<%= global.url; %>/public/assets/js/bootstrap/bootstrap.js" ></script>
<!-- Sidebar jquery-->
<script src="<%= global.url; %>/public/assets/js/sidebar-menu.js" ></script>
<!--Datatable js-->
<script src="<%= global.url; %>/public/assets/js/datatables/jquery.dataTables.min.js"></script>
<script src="<%= global.url; %>/public/assets/js/datatables/datatable.custom.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="<%= global.url; %>/public/assets/js/date-picker/datepicker.js"></script>
<script src="<%= global.url; %>/public/assets/js/date-picker/datepicker.en.js"></script>
<script src="<%= global.url; %>/public/assets/js/date-picker/datepicker.custom.js"></script>
<!-- Theme js-->
<script src="<%= global.url; %>/public/assets/js/script.js" ></script>
<!-- <script src="<%= global.url; %>/public/assets/js/instantclick.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
-->
<script type="text/javascript">
	function changeLang(lang){
		 $.ajax({
                   type: 'post',
                   url:"/change-lang",
                   data: "lang="+lang,
                   success: function (responseData) {
                        if(responseData=='done'){
                        	window.location.reload();
                        }
                   }
                })
	}
</script>