
<div class="page-sidebar custom-scrollbar">
    <div class="sidebar-user text-center">
        <div>
            <% if(user.profile) { %>
            <img class="img-50 rounded-circle" src="<%= global.url; %>/public/assets/images/users/<%- user.profile; %>" alt="user">
            <% } else {%>
            <img class="img-50 rounded-circle" src="<%= global.url; %>/public/assets/images/users/avatar.png" alt="user">
            <% } %>
        </div>
        <h6 class="mt-3 f-12"><%- user.firstname; %> <%- user.lastname; %></h6>
    </div>
     <% if (user.role == 1) { %>
      <ul class="sidebar-menu">
        <li>
            <div class="sidebar-title">General</div>
            <a href="/dashboard" class="sidebar-header ">
              <i class="icon-blackboard"></i><span>  <%= translation.dashboard %></span>
            </a>
        </li>
        <li>
            <a href="/wallet" class="sidebar-header">
              <i class="icon-wallet"></i><span>  <%= translation.wallet %></span>
            </a>
        </li>
        <li>
            <a href="#" class="sidebar-header">
                <i class="icon-bar-chart"></i><span> <%= translation.ico %></span>
                <i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="/buy-token"><i class="fa fa-angle-right"></i> <%= translation.buy %>  <%= translation.token %></a></li>
                <li><a href="/ico-information"><i class="fa fa-angle-right"></i> <%= translation.ico %>  <%= translation.information%></a></li>
            </ul>
        </li>

         <li>
            <a href="#" class="sidebar-header">
                <i class="icofont icofont-game-control"></i><span> Lucky 6 <span class="badge badge-danger pulsate ml-3"> <%= translation.new %></span>
                <i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="/game"><i class="fa fa-angle-right"></i> <%= translation.play %>  <%= translation.game %></a></li>
                <li><a href="/game/history"><i class="fa fa-angle-right"></i> <%= translation.history %></a></li>
                
            </ul>
        </li>
        
        <li>
            <a href="#" class="sidebar-header">
                <i class="icofont icofont-chart-histogram-alt"></i><span> <%= translation.transaction %></span>
                <i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="/transaction/deposit"><i class="fa fa-angle-right"></i> <%= translation.deposit %></a></li>
                <li><a href="/transaction/withdraw"><i class="fa fa-angle-right"></i> <%= translation.withdrawal %></a></li>
                <li><a href="/transaction/buy-token"><i class="fa fa-angle-right"></i> <%= translation.buy %>  <%= translation.token %></a></li>
            </ul>
        </li>

       
        

        <li>
            <a href="/network" class="sidebar-header">
              <i class="icofont icofont-company"></i><span>  <%= translation.network %></span>
            </a>
        </li>
    </ul>

    <% } else { %>
        
  <ul class="sidebar-menu">
        <li>
            <div class="sidebar-title">General</div>
            <a href="/dashboard" class="sidebar-header">
              <i class="icon-blackboard"></i><span>  <%= translation.dashboard %></span>
            </a>
        </li>
        <li>
            <a href="/users" class="sidebar-header">
              <i class="icon-user"></i><span>  <%= translation.manage %>  <%= translation.users %></span>
            </a>
        </li>
        <li>
            <a href="#" class="sidebar-header">
                <i class="icofont icofont-chart-histogram-alt"></i><span> <%= translation.transaction %></span>
                <i class="fa fa-angle-right pull-right"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="/transaction/deposits"><i class="fa fa-angle-right"></i> <%= translation.deposit %></a></li>
                <li><a href="/transaction/withdraws"><i class="fa fa-angle-right"></i><span> <%= translation.withdrawal %><span class="badge badge-danger ml-3"><%= withdrawCount %></span></a> </li>
                <li><a href="/transaction/buy-tokens"><i class="fa fa-angle-right"></i> <%= translation.buy %>  <%= translation.token %></a></li>
            </ul>
        </li>

       
         <li>
            <a href="/game/histories" class="sidebar-header">
              <i class="icofont icofont-book"></i><span>  <%= translation.game %>  <%= translation.history %></span>
            </a>
        </li>
         <li>
            <a href="/game/setting" class="sidebar-header">
              <i class="icofont icofont-game-control"></i><span>  <%= translation.game %>  <%= translation.settings %></span>
            </a>
        </li>
        

         <li>
            <a href="/rate" class="sidebar-header">
              <i class="icofont icofont-cur-dollar"></i><span>  <%= translation.rate %>  <%= translation.settings %></span>
            </a>
        </li>

        <li>
            <a href="/setting" class="sidebar-header">
              <i class="icofont icofont-settings-alt"></i><span>  <%= translation.settings %></span>
            </a>
        </li>
       
    </ul>


    <% } %>
    
  
   
    <div class="sidebar-widget text-center">
                <div class="sidebar-widget-top">
                    <h6 class="mb-2 fs-14"> <%= translation.need %>  <%= translation.help %></h6>
                    <i class="icon-bell"></i>
                </div>
                <div class="sidebar-widget-bottom p-20 m-20">
                    <p>paidthru@gmail.com
                        <br><a href="mailto:paidthru@gmail.com" target="_top"> <%= translation.contact %>  <%= translation.us %></a>
                    </p>
                </div>
            </div>
</div>