<%- contentFor('styles'); %>
<%- contentFor('body'); %>
<%  var i=1; %>
<% 
    var nowDate = new Date();
    var currentDt = new Date().toISOString().slice(0, 10);
%>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6" data-intro="This is the name of this site">
                <h3><%= translation.dashboard %></h3>
            </div>
            <div class="col-lg-6" data-intro="This is the name of this site">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><%= translation.dashboard %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
   <div class="row">
       <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                            <img class="mr-3" src="<%= global.url; %>/public/assets/images/btc.png" style="width:50px;"> 
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter"><%- user.btc_bal.toFixed(8); %></h3>
                                <h6><%= translation.btc %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard1" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                             <img class="mr-3" src="<%= global.url; %>/public/assets/images/eth.png" style="width:50px;">
                            <i class="fa fa-ethereum" aria-hidden="true"></i>
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter"><%- user.eth_bal.toFixed(8); %></h3>
                                <h6><%= translation.eth %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard2" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                            <img class="mr-3" src="<%= global.url; %>/public/assets/images/litecoin.svg" style="width:50px;">
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter"><%- user.ltc_bal.toFixed(8); %></h3>
                                <h6><%= translation.ltc %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard3" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                             <img class="mr-3" src="<%= global.url; %>/public/assets/images/doge.png" style="width:50px;">
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter "><%- user.doge_bal.toFixed(8); %></h3>
                                <h6>Doge <%= translation.balance %> </h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard4" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                             <img class="mr-3" src="<%= global.url; %>/public/assets/images/dollar.png" style="width:50px;">
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter "><%- user.usd_bal.toFixed(2); %></h3>
                                <h6><%= translation.usd %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard4" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                             <img class="mr-3" src="<%= global.url; %>/public/assets/images/euro.png" style="width:50px;">
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter "><%- user.eur_bal.toFixed(2); %></h3>
                                <h6><%= translation.euro %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard4" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                             <img class="mr-3" src="<%= global.url; %>/public/assets/images/pound.png" style="width:50px;">
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter "><%- user.gbp_bal.toFixed(2); %></h3>
                                <h6><%= translation.gbp %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard4" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                             <img class="mr-3" src="<%= global.url; %>/public/assets/images/cad.png" style="width:50px;">
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter "><%- user.cad_bal.toFixed(2); %></h3>
                                <h6><%= translation.cad %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard4" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       <!--  <div class="col-sm-12 col-xl-3">
            <div class="card">
                <div class="card-header">
                    <h5><img class="mr-3" src="<%= global.url; %>/public/assets/images/users-group.png">Total User </h5>
                </div>
                <div class="card-body dash-body">
                   <div class="card-body d-flex text-center">
                    <h3>000025</h3>
                   </div>
                </div>
            </div>
        </div> -->


        <div class="col-sm-6 col-xl-4">
            <div class="card">
                <div class="card-header">
                    <h5><img class="mr-3" src="<%= global.url; %>/public/assets/images/paid-1.png"> <%= translation.paid %> <%= translation.balance %></h5>
                </div>
                <div class="card-body dash-body">
                   <div class="card-body d-flex text-center">
                    <h3><%- user.token_bal.toFixed(2); %></h3>
                   </div>
                </div>
            </div>
        </div>

               <div class="col-sm-6 col-xl-4">
            <div class="card">
                <div class="card-header">
                    <h5><img class="mr-3" src="<%= global.url; %>/public/assets/images/bonust.png"><%= translation.referral %> <%= translation.bonus %></h5>
                </div>
                <div class="card-body dash-body">
                    <div class="card-body d-flex  text-center">
                    <h3><%- setting.ref_bonus; %> %</h3>
                   </div>
                </div>
            </div>
        </div>

                <div class="col-sm-6 col-xl-4">
            <div class="card">
                <div class="card-header">
                    <h5><img class="mr-3" src="<%= global.url; %>/public/assets/images/bonust.png"><%= translation.token %> <%= translation.bonus %></h5>
                </div>
                <div class="card-body dash-body">
                    <div class="card-body d-flex  text-center">
                    <h3><%- setting.bonus; %> %</h3>
                   </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5><img class="mr-3" src="<%= global.url; %>/public/assets/images/paid-1.png"><%= translation.total %> <%= translation.paid %> </h5>
                </div>
                <div class="card-body dash-body">
                   <div class="card-body d-flex text-center">
                    <h3><%- setting.totalSupplyToken.toFixed(0); %></h3>
                   </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h5><img class="mr-3" src="<%= global.url; %>/public/assets/images/paid-1.png"><%= translation.total %> <%= translation.sold %> <%= translation.paid %></h5>
                </div>
                <div class="card-body dash-body">
                    <div class="card-body d-flex  text-center">
                    <h3><%- setting.soldToken.toFixed(2); %></h3>
                   </div>
                </div>
            </div>
        </div>

 
     
<% if (user.role == 0) { %>
 <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5> <%= translation.ico %> <%= translation.calendar %></h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                               <table id="basic" class="display">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th> <%= translation.name %></th>
                                <th> <%= translation.sold %>  <%= translation.tokens %></th>
                                <th> <%= translation.bonus %></th>
                                <th> <%= translation.start %>  <%= translation.date %></th>
                                <th> <%= translation.end %>  <%= translation.date %></th>
                                <th> <%= translation.status %></th>
                 
                             
                            </tr>
                            </thead>
                            <tbody>
                               <% if (rate) { %>
                                  <% rate.forEach(function(rates){ %>        
                             <tr>
                                <td><%= i++ %></td>
                                <td><%= rates.name %></td>
                                <td><%= rates.totalSupplyToken %></td>
                                <td><%= rates.bonus %></td>
                                <td><%= rates.icoStartDate %></td>
                                <td><%= rates.icoEndDate %></td>
                                <td>
                                <% if (rates.icoStartDate <= currentDt && rates.icoEndDate >= currentDt) { %>
                                     <span class="badge badge-success"> <%= translation.live %> </span>
                                <% } else if(rates.icoEndDate <= currentDt) { %>
                                     <span class="badge badge-primary"> <%= translation.finished %> </span>
                                <% } else if(rates.icoEndDate >= currentDt) { %>
                                    <span class="badge badge-warning"> <%= translation.pending %> </span>
                                <% } %>
                                
                               
                                </td>
                              
                            </tr>
                                   <% }) %>
                                  <% } %>   
                             
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

<% } %>

<% if (user.role == 1) { %>
        <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5> <%= translation.todays %>  <%= translation.deposits %></h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                         <table id="basic" class="display">
                            <thead>
                            <tr>
                                <th> <%= translation.sr_no %></th>
                                <th> <%= translation.coin %></th>
                                <th> <%= translation.address %></th>
                                <th> <%= translation.txid %></th>
                                <th> <%= translation.amount %></th>
                                <th> <%= translation.status %></th>
                            </tr>
                            </thead>
                            <tbody>
                                  <% if (deposit) { %>
                                  <% deposit.forEach(function(deposits){ %>
                            <tr>
                                <td><%= i++;  %></td>
                                <td>
                                 <span class="badge badge-<%= deposits.type %>"> <%= deposits.type;  %> </span>
                                </td>
                                <td><%= deposits.address;  %></td>
                                <td><%= deposits.txid;  %></td>
                                <td><%= deposits.amount;  %></td>
                                <td>

                                <% if(deposits.status == '0') { %>
                                <span class="badge badge-warning">  Pending  </span>
                                <% } else if(deposits.status == '100' || deposits.status == '1') {%>
                                <span class="badge badge-success">  Confirm  </span>
                                <% } else if(deposits.status == '-1') {%>
                                <span class="badge badge-primary">  Failed  </span>
                                <% } %>

                                </td>
                            </tr>
                                  <% }) %>
                                  <% } %>   
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5> <%= translation.todays %>  <%= translation.withdrawal %></h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                                <table id="basic" class="display">
                                <thead>
                                <tr>
                                     <th> <%= translation.sr_no %></th>
                                    <th> <%= translation.coin %></th>
                                    <th> <%= translation.address %></th>
                                      <th> <%= translation.withdrawal %>  <%= translation.id %></th>
                                    <th> <%= translation.txid %></th>
                                    <th> <%= translation.amount %></th>
                                    <th> <%= translation.status %></th>
                                </tr>
                                </thead>
                                <tbody>
                                 <% if (withdraw) { %>
                                  <% withdraw.forEach(function(withdraws){ %>
                                <tr>
                                    <td><%= i++;  %></td>
                                    <td><span class="badge badge-<%= withdraws.type %>"> <%= withdraws.type;  %> </span></td>
                                    <td><%= withdraws.address;  %></td>
                                     <td><%= withdraws.withdrawalId;  %></td>
                                    <td><%= withdraws.txid;  %></td>
                                    <td><%= withdraws.amount;  %></td>
                                    <td>
                                   
                                     <% if(withdraws.status == '0') { %>
                            <span class="badge badge-warning">  Pending  </span>
                            <% } else if(withdraws.status == '-1') { %>
                              <span class="badge badge-warning">  Pending Approval </span>
                            <% } else if(withdraws.status == '1') { %>
                            <span class="badge badge-success">  Confirm  </span>
                            <% } else if(withdraws.status == '2') { %>
                            <span class="badge badge-danger">  Cancel  </span>
                             <% } else if(withdraws.status == '3') {%>
                            <span class="badge badge-primary">  Failed  </span>
                            <% } else if(withdraws.status == '4') {%>
                            <span class="badge badge-primary">  Reject  </span>
                            <% } %>

                                    </td>
                                </tr>
                                 <% }) %>
                                  <% } %>   
                                 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
 <% } %> 


            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5> <%= translation.login %>  <%= translation.history %></h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                         <table id="basic" class="display">
                            <thead>
                            <tr>
                                <th> <%= translation.sr_no %></th>
                                <th> <%= translation.ip %>  <%= translation.address %></th>
                                <th> <%= translation.date %>  <%= translation.and %>  <%= translation.time %></th>
                            </tr>
                            </thead>
                            <tbody>
                                  <% if (login) { %>
                                  <% login.forEach(function(logins){ %>
                            <tr>
                                <td><%= i++;  %></td>
                                <td> <%= logins.ip_address;  %> </td>
                                <td><%= logins.created_date;  %></td>
                              
                            </tr>
                                  <% }) %>
                                  <% } %>   
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>





   </div>
</div>
<%- contentFor('scripts') %>

