<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/images/favicon.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon"/>
    <title> <%= title; %> </title>
    <% include partials/head %>
    <%- styles %>
</head>
<body>
  <div class="page-wrapper">
     <% include partials/header %>
       <div class="page-body-wrapper">
           <% include partials/sidebar %>
       <div class="page-body">
          <%- body %>
       </div>
       </div>
   </div>
    <% include partials/scripts %>
      <%- scripts %>
  </body>
</html>