<%- contentFor('styles'); %>
<%- contentFor('body'); %>
<% var i = 1; %>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6" data-intro="This is the name of this site">
                <h3><%= translation.buy %> <%= translation.token %></h3>
            </div>
            <div class="col-lg-6" data-intro="This is the name of this site">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><%= translation.buy %> <%= translation.token %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
   <div class="row">
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                            <img class="mr-3" src="<%= global.url; %>/public/assets/images/btc.png" style="width:50px;"> 
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter"><%- user.btc_bal.toFixed(8); %></h3>
                                <h6><%= translation.btc %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard1" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                             <img class="mr-3" src="<%= global.url; %>/public/assets/images/eth.png" style="width:50px;">
                            <i class="fa fa-ethereum" aria-hidden="true"></i>
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter"><%- user.eth_bal.toFixed(8); %></h3>
                                <h6><%= translation.eth %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard2" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                            <img class="mr-3" src="<%= global.url; %>/public/assets/images/litecoin.svg" style="width:50px;">
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter"><%- user.ltc_bal.toFixed(8); %></h3>
                                <h6><%= translation.ltc %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard3" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                             <img class="mr-3" src="<%= global.url; %>/public/assets/images/doge.png" style="width:50px;">
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter "><%- user.doge_bal.toFixed(8); %></h3>
                                <h6>Doge <%= translation.balance %> </h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard4" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                             <img class="mr-3" src="<%= global.url; %>/public/assets/images/dollar.png" style="width:50px;">
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter "><%- user.usd_bal.toFixed(2); %></h3>
                                <h6><%= translation.usd %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard4" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                             <img class="mr-3" src="<%= global.url; %>/public/assets/images/euro.png" style="width:50px;">
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter "><%- user.eur_bal.toFixed(2); %></h3>
                                <h6><%= translation.euro %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard4" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                             <img class="mr-3" src="<%= global.url; %>/public/assets/images/pound.png" style="width:50px;">
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter "><%- user.gbp_bal.toFixed(2); %></h3>
                                <h6><%= translation.gbp %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard4" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        
         <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                             <img class="mr-3" src="<%= global.url; %>/public/assets/images/cad.png" style="width:50px;">
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter "><%- user.cad_bal.toFixed(2); %></h3>
                                <h6><%= translation.cad %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard4" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

              <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5><img class="mr-3" src="<%= global.url; %>/public/assets/images/paid-1.png"> <%= translation.paid %> <%= translation.balance %></h5>
                </div>
                <div class="card-body dash-body">
                   <div class="card-body d-flex text-center">
                    <h3><%- user.token_bal.toFixed(2); %></h3>
                   </div>
                </div>
            </div>
        </div>

               <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5><img class="mr-3" src="<%= global.url; %>/public/assets/images/bonust.png"><%= translation.referral %> <%= translation.bonus %></h5>
                </div>
                <div class="card-body dash-body">
                    <div class="card-body d-flex  text-center">
                    <h3><%- setting.ref_bonus; %> %</h3>
                   </div>
                </div>
            </div>
        </div>

                <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5><img class="mr-3" src="<%= global.url; %>/public/assets/images/bonust.png"><%= translation.token %> <%= translation.bonus %></h5>
                </div>
                <div class="card-body dash-body">
                    <div class="card-body d-flex  text-center">
                    <h3><%- setting.bonus; %> %</h3>
                   </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5><img class="mr-3" src="<%= global.url; %>/public/assets/images/paid-1.png"><%= translation.total %> <%= translation.paid %> </h5>
                </div>
                <div class="card-body dash-body">
                   <div class="card-body d-flex text-center">
                    <h3><%- setting.totalSupplyToken.toFixed(0); %></h3>
                   </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5><img class="mr-3" src="<%= global.url; %>/public/assets/images/paid-1.png"><%= translation.total %> <%= translation.sold %> <%= translation.paid %></h5>
                </div>
                <div class="card-body dash-body">
                    <div class="card-body d-flex  text-center">
                    <h3><%- setting.soldToken.toFixed(2); %></h3>
                   </div>
                </div>
            </div>
        </div>




        <div class="col-sm-12">
                  <% if (errorMessage.length > 0) { %>
                  <div class="alert alert-danger flash"><%= errorMessage %></div>
              <% } %>

              <% if (successMessage.length > 0) { %>
                  <div class="alert alert-success flash"><%= successMessage %></div>
              <% } %>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-header">
                <h5 class="card-title">
                    <span id="coinimg"><img class="mr-3" src="<%= global.url; %>/public/assets/images/btc-1.png"></span>
                    <span id="coin_existing_bal"><%= user.btc_bal.toFixed(8); %> BTC </span>
                </h5>
                    <!-- <a href="#" class="btn btn-primary btn-all">Buy All</a> -->
                </div>
                <div class="buy-sell">
                <form action="buy-token" method="post" id="buyTokenForm">
                 <div class="form-group">
                      <label for="address"><%= translation.currency %> </label>
                        <select name="coin" id="coin"onChange="changeCoin(this.value)" class="form-control">
                            <option value="btc">BTC</option>
                            <option value="eth">ETH</option>
                            <option value="ltc">LTC</option>
                            <option value="doge">DOGE</option>
                            <option value="usd">USD</option>
                            <option value="eur">EUR</option>
                            <option value="gbp">GBP</option>
                            <option value="cad">CAD</option>
                        </select>                         
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput"><%= translation.units %></label>
                    <input type="text" onkeyup="setAllFields(this)" maxlength="10" id="numberOfToken" class="form-control" autocomplete="off" name="numberOfToken" required="" placeholder="0.00">
                    <span id="error"></span>
                 </div>
                 
                 <div class="row">
                 <div class="form-group mt-32 col-sm-6">
                    <label for="formGroupExampleInput2"><%= translation.price %></label>
                    <div class="input-group">
                    <input type="text" class="form-control" autocomplete="off" id="price" placeholder="0.00" value="" onkeyup="setAllPrice(this)">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="selected-coin-name">BTC</span>
                    </div>
                    
                    </div>
                    <span id="errorCoin"></span>
                </div>
                <div class="form-group mt-32 col-sm-6">
                    <label for="formGroupExampleInput2"><%= translation.price %></label>
                    <div class="input-group">
                    <input type="number" class="form-control" id="priceUsd" placeholder="0.00" value="0.00" disabled="disabled">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="selected-coin-name">USD</span>
                    </div>
                    </div>
                </div>
                </div>
                
                <div class="row">
                <div class="form-group mt-32 col-md-6">
                    <label for="exampleInputEmail1"><%= translation.bonus %></label>
                    <div class="input-group">
                    <input type="number" class="form-control" id="bonus" placeholder="0.00" disabled="disabled">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="selected-coin-ptx">PAID</span>
                    </div>
                    </div>
                </div>
           
                <div class="form-group mt-32 col-md-6">
                    <label for="exampleInputEmail1"><%= translation.total %></label>
                    <div class="input-group">
                    <input type="number" class="form-control" id="total" placeholder="0.00" disabled="disabled">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="selected-coin-ptx1">PAID</span>
                    </div>
                    </div>
                </div>
                </div>
                
                    <div class="text-right">
                    <button class="btn btn-primary buyTokenButton" id="buyToken" style="float:  right;margin-top:  25px;"><%= translation.buy %> <%= translation.token %></button>
                    </div>
                </form>
            </div>
        </div>
        </div>


        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        Rate
                    </h5>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-responsive col-sm-12 col-md-6">
                        <tbody>
                          <tr>
                            <td><b><img class="mr-3" src="<%= global.url; %>/public/assets/images/btc-1.png" alt=""></b></td>
                            <td>1 BTC</td>
                            <td>=</td>
                            <td>$ <%- setting.btc_price.toFixed(4); %></td>
                          </tr>
                          <tr>
                            <td><b><img class="mr-3" src="<%= global.url; %>/public/assets/images/eth-1.png" alt=""></b></td>
                            <td>1 ETH</td>
                           <td>=</td>
                            <td>$ <%- setting.eth_price.toFixed(4); %></td>
                          </tr>
                          <tr>
                            <td><b><img class="mr-3" src="<%= global.url; %>/public/assets/images/ltc-1.png" alt=""></b></td>
                            <td>1 LTC</td>
                            <td>=</td>
                            <td>$ <%- setting.ltc_price.toFixed(4); %></td>
                          </tr>
                           <tr>
                            <td><b><img class="mr-3" src="<%= global.url; %>/public/assets/images/doge-1.png" alt=""></b></td>
                            <td>1 Doge</td>
                            <td>=</td>
                            <td>$ <%- setting.doge_price.toFixed(4); %></td>
                          </tr>

                           <tr>
                            <td><b><img class="mr-3" src="<%= global.url; %>/public/assets/images/usd-1.png" alt=""></b></td>
                            <td>1 USD</td>
                            <td>=</td>
                            <td>$ 1.00</td>
                          </tr>

                          <tr>
                            <td><b><img class="mr-3" src="<%= global.url; %>/public/assets/images/eur-1.png" alt=""></b></td>
                            <td>1 EUR</td>
                            <td>=</td>
                            <td>$ <%- setting.eur_price.toFixed(2); %></td>
                          </tr>

                           <tr>
                            <td><b><img class="mr-3" src="<%= global.url; %>/public/assets/images/gbp-1.png" alt=""></b></td>
                            <td>1 GBP</td>
                            <td>=</td>
                            <td>$ <%- setting.gbp_price.toFixed(2); %></td>
                          </tr>

                          <tr>
                            <td><b><img class="mr-3" src="<%= global.url; %>/public/assets/images/cad-1.png" alt=""></b></td>
                            <td>1 CAD</td>
                            <td>=</td>
                            <td>$ <%- setting.cad_price.toFixed(2); %></td>
                          </tr>
                        </tbody>
                    </table>
             </div>
            <div class="col-md-6">
                <table class="table table-responsive col-sm-12 col-md-6">
                    <tbody>
                      <tr>
                       
                        <td>1 <%= translation.paid %></td>
                        <td>=</td>
                        <td><%- (parseFloat(setting.rate) / parseFloat(setting.btc_price)).toFixed(8); %> </td>
                         <td><b><img class="mr-3" src="<%= global.url; %>/public/assets/images/btc-1.png" alt=""></b></td>
                      </tr>
                      <tr>
                       
                        <td>1 <%= translation.paid %></td>
                       <td>=</td>
                        <td><%- (parseFloat(setting.rate) / parseFloat(setting.eth_price)).toFixed(8); %></td>
                         <td><b><img class="mr-3" src="<%= global.url; %>/public/assets/images/eth-1.png" alt=""></b></td>
                      </tr>
                      <tr>
                       
                      <td>1 <%= translation.paid %></td>
                        <td>=</td>
                        <td><%- (parseFloat(setting.rate) / parseFloat(setting.ltc_price)).toFixed(8); %></td>
                         <td><b><img class="mr-3" src="<%= global.url; %>/public/assets/images/ltc-1.png" alt=""></b></td>
                      </tr>

                      <td>1 <%= translation.paid %></td>
                        <td>=</td>
                        <td><%- (parseFloat(setting.rate) / parseFloat(setting.doge_price)).toFixed(8); %></td>
                         <td><b><img class="mr-3" src="<%= global.url; %>/public/assets/images/doge-1.png" alt=""></b></td>
                      </tr>

                      <tr>
                     
                        <td>1 <%= translation.paid %></td>
                        <td>=</td>
                        <td><%- (parseFloat(setting.rate)).toFixed(4); %></td>
                         <td><b><img class="mr-3" src="<%= global.url; %>/public/assets/images/usd-1.png" alt=""></b></td>
                      </tr>
                       <tr>

                      <tr>
                        <td>1 <%= translation.paid %></td>
                        <td>=</td>
                        <td><%- (parseFloat(setting.rate) / parseFloat(setting.eur_price)).toFixed(4); %></td>
                         <td><b><img class="mr-3" src="<%= global.url; %>/public/assets/images/eur-1.png" alt=""></b></td>
                      </tr>
                      
                      <tr>
                        <td>1 <%= translation.paid %></td>
                        <td>=</td>
                        <td><%- (parseFloat(setting.rate) / parseFloat(setting.gbp_price)).toFixed(4); %></td>
                         <td><b><img class="mr-3" src="<%= global.url; %>/public/assets/images/gbp-1.png" alt=""></b></td>
                      </tr>

                      <tr>
                   
                        <td>1 <%= translation.paid %></td>
                        <td>=</td>
                        <td><%- (parseFloat(setting.rate) / parseFloat(setting.cad_price)).toFixed(4); %></td>
                         <td><b><img class="mr-3" src="<%= global.url; %>/public/assets/images/cad-1.png" alt=""></b></td>
                      </tr>

                    </tbody>
                </table>
                </div>
                </div>
        </div>
        </div>

        

    <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5><%= translation.transaction %> <%= translation.history %></h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                     <table id="basic" class="display">
                        <thead>
                        <tr>
                                <th><%= translation.sr_no %></th>
                                <th><%= translation.date %></th>
                                <th><%= translation.coin %></th>
                                <th><%= translation.txid %></th>
                                <th><%= translation.amount %></th>
                                <th><%= translation.token %> (<%= translation.paid %>)</th>
                                <th><%= translation.status %></th>
                                <th><%= translation.note %></th>
                        </tr>
                        </thead>
                        <tbody>
                                  <% if (buytoken) { %>
                                  <% buytoken.forEach(function(buytokens){ %>
                            <tr>
                                <td><%= i++;  %></td>
                                <td><%= new Date(buytokens.created_date).toISOString().slice(0, 10)  %></td>
                                <td> <span class="badge badge-<%= buytokens.type; %>"> <%= buytokens.type;  %> </span></td>
                                <td><%= buytokens.txid;  %></td>
                                <td><%= buytokens.amount;  %></td>
                                <td><%= buytokens.tokens;  %></td>
                                <td><span class="badge badge-success">  <%= translation.success %>  </span></td>
                                <td><%= buytokens.tokens;  %> PAID buy With <%= buytokens.type; %> wallet</td>
                            </tr>
                               <% }) %>
                                  <% } %>   
                            </tbody>
                    </table>

                    </div>
                </div>
            </div>
        </div>
   </div>
</div>

<%- contentFor('scripts'); %>
<script></script>
<script>



// Start buy token 

    $("#buyToken").prop('disabled',true); // buy button desabled
    
    // User balance

    var btc_bal =  parseFloat(<%= user.btc_bal %>);
    var eth_bal =  parseFloat(<%= user.eth_bal %>); 
    var ltc_bal =  parseFloat(<%= user.ltc_bal %>); 
    var doge_bal =  parseFloat(<%= user.doge_bal %>); 
    var usd_bal =  parseFloat(<%= user.usd_bal %>); 
    var eur_bal =  parseFloat(<%= user.eur_bal %>);
    var gbp_bal =  parseFloat(<%= user.gbp_bal %>);
    var cad_bal =  parseFloat(<%= user.cad_bal %>);
    var rate =  parseFloat(<%= setting.rate %>);
    var tokenBonus =  <%= setting.bonus %>;


    // When select coin it will executed

    function changeCoin(coin) { // start

       $("#selected-coin-name").html(coin);
       $("#coinimg").html('<img class="mr-3"  src="<%= global.url; %>/public/assets/images/'+coin+'-1.png" alt="coin">'); 
       
       if(coin == 'btc'){ 
        var balance = btc_bal.toFixed(8);
       } else if(coin == 'eth'){ 
        var balance = eth_bal.toFixed(8);
       } else if(coin == 'ltc'){ 
        var balance = ltc_bal.toFixed(8);
       } else if(coin == 'doge'){ 
        var balance = doge_bal.toFixed(8);
       } else if(coin == 'usd'){ 
        var balance = usd_bal.toFixed(2);
       } else if(coin == 'eur'){ 
        var balance = eur_bal.toFixed(2);
       } else if(coin == 'gbp'){ 
        var balance = gbp_bal.toFixed(2);
       } else if(coin == 'cad'){ 
        var balance = cad_bal.toFixed(2);
       }
       
       $("#coin_existing_bal").html(balance +' '+ coin); // user balance
       $('#numberOfToken').val('');
       $('#priceUsd').val('');
       $('#price').val('');
       $('#bonus').val('');
       $('#total').val('');
       $('#error').html('');

    } // end

    function setAllPrice(elem){ // start
      var val = $(elem).val();
        if(isNaN(val)){
           val = val.replace(/[^0-9\.]/g,'');
           if(val.split('.').length>2)
            val = val.replace(/\.+$/,"");
            $(elem).val(val);
        }
             var coinRate = parseFloat(val / <%= setting.rate %>);
             
             if($("#coin").val() == 'btc'){
                var balance = btc_bal.toFixed(8);
                var coinPrice = parseFloat(coinRate * <%= setting.btc_price %>).toFixed(2);

             } else if($("#coin").val() == 'eth'){  
                var balance = eth_bal.toFixed(8);
                var coinPrice = parseFloat(coinRate * <%= setting.eth_price %>).toFixed(2);

             } else if($("#coin").val() == 'ltc'){ 
                var balance = ltc_bal.toFixed(8);
                var coinPrice = parseFloat(coinRate * <%= setting.ltc_price %>).toFixed(2);

             } else if($("#coin").val() == 'doge'){
                var balance = doge_bal.toFixed(8);
                var coinPrice = parseFloat(coinRate * <%= setting.doge_price %>).toFixed(2);

             } else if($("#coin").val() == 'usd'){ 
                var balance = usd_bal.toFixed(8);
                var coinPrice = coinRate.toFixed(2);

             } else if($("#coin").val() == 'eur'){ 
                var balance = eur_bal.toFixed(8);
                var coinPrice = parseFloat(coinRate * <%= setting.eur_price %>).toFixed(2);

             } else if($("#coin").val() == 'gbp'){ 
                var balance = gbp_bal.toFixed(8);
                var coinPrice = parseFloat(coinRate * <%= setting.gbp_price %>).toFixed(2);

             } else if($("#coin").val() == 'cad'){ 
                var balance = cad_bal.toFixed(8);
                var coinPrice = parseFloat(coinRate * <%= setting.cad_price %>).toFixed(2);

             }

            var coinUsd = parseFloat(coinPrice) * parseFloat(<%= setting.rate %>);
            $('#priceUsd').val(coinUsd.toFixed(4));

            $('#numberOfToken').val(coinPrice)
            var bonus = parseFloat($("#numberOfToken").val()) * tokenBonus/100;
            $("#bonus").val(bonus.toFixed(4));
            var total = bonus + parseFloat($("#numberOfToken").val());
            $("#total").val(total.toFixed(4));

             if(parseFloat(val) > parseFloat(balance)){
                $("#errorCoin").html('<div class="text-danger"><b>Insufficient balance.</b></div>');
                $("#buyToken").prop('disabled',true);
                 return false;
            } else  {
                $("#buyToken").prop('disabled',false);
                $('#errorCoin').html('');
            }






    }

    function setAllFields(elem){ // start

        var val = $(elem).val();
            if(isNaN(val)){
                   val = val.replace(/[^0-9\.]/g,'');
                   if(val.split('.').length>2)
                       val = val.replace(/\.+$/,"");
                   $(elem).val(val);
              }

        if($("#numberOfToken").val() == 0){

            $("#buyToken").prop('disabled',true); // buy button desabled
        }      

        if($("#numberOfToken").val() > 0){ // start if condition

            if($("#coin").val() == 'btc'){ 
                var balance = btc_bal.toFixed(8);
                var price = parseFloat(<%= setting.btc_price %>);
                var tokens = parseFloat($("#numberOfToken").val()) * rate;
                var tokenPrice = (tokens / price ).toFixed(8);
                var priceUsd = parseFloat(tokenPrice) * parseFloat(<%= setting.btc_price %>);
            } else if($("#coin").val() == 'eth'){ 
                var balance = eth_bal.toFixed(8);
                var price = parseFloat(<%= setting.eth_price %>);
                var tokens = parseFloat($("#numberOfToken").val()) * rate;
                var tokenPrice = (tokens / price ).toFixed(8);
                var priceUsd = parseFloat(tokenPrice) * parseFloat(<%= setting.eth_price %>);
            } else if($("#coin").val() == 'ltc'){ 
                var balance = ltc_bal.toFixed(8);
                var price = parseFloat(<%= setting.ltc_price %>);
                var tokens = parseFloat($("#numberOfToken").val()) * rate;
                var tokenPrice = (tokens / price ).toFixed(8);
                var priceUsd = parseFloat(tokenPrice) * parseFloat(<%= setting.ltc_price %>);
            } else if($("#coin").val() == 'doge'){ 
                var balance = doge_bal.toFixed(8);
                var price = parseFloat(<%= setting.doge_price %>);
                var tokens = parseFloat($("#numberOfToken").val()) * rate;
                var tokenPrice = (tokens / price ).toFixed(8);
                var priceUsd = parseFloat(tokenPrice) * parseFloat(<%= setting.doge_price %>);
            } else if($("#coin").val() == 'usd'){ 
                var balance = usd_bal.toFixed(2);
                var tokens = parseFloat($("#numberOfToken").val()) * rate;
                var tokenPrice = tokens.toFixed(2);
                var priceUsd = tokens;
            } else if($("#coin").val() == 'eur'){ 
                var balance = eur_bal.toFixed(2);
                var price = parseFloat(<%= setting.eur_price %>);
                var tokens = parseFloat($("#numberOfToken").val()) * rate;
                var tokenPrice = (tokens / price ).toFixed(2);
                var priceUsd = parseFloat(tokenPrice) * parseFloat(<%= setting.eur_price %>);
            } else if($("#coin").val() == 'gbp'){ 
                var balance = gbp_bal.toFixed(2);
                var price = parseFloat(<%= setting.gbp_price %>);
                var tokens = parseFloat($("#numberOfToken").val()) * rate;
                var tokenPrice = (tokens / price ).toFixed(2);
                var priceUsd = parseFloat(tokenPrice) * parseFloat(<%= setting.gbp_price %>);
            } else if($("#coin").val() == 'cad'){ 
                var balance = cad_bal.toFixed(2);
                var price = parseFloat(<%= setting.cad_price %>);
                var tokens = parseFloat($("#numberOfToken").val()) * rate;
                var tokenPrice = (tokens / price ).toFixed(2);
                var priceUsd = parseFloat(tokenPrice) * parseFloat(<%= setting.cad_price %>);
            } 

            $('#price').val(tokenPrice);
            $('#priceUsd').val(priceUsd.toFixed(4));
            
            var bonus = parseFloat($("#numberOfToken").val()) * tokenBonus/100;
            $("#bonus").val(bonus.toFixed(4));
            var total = bonus + parseFloat($("#numberOfToken").val());
            $("#total").val(total.toFixed(4));

            if(parseFloat(tokenPrice) > parseFloat(balance)){
                $("#error").html('<div class="text-danger"><b>Insufficient balance.</b></div>');
                $("#buyToken").prop('disabled',true);
                 return false;
            } else  {
                $("#buyToken").prop('disabled',false);
                $('#error').html('');
            }


        } else { // else part

            $("#buyToken").prop('disabled',true);
            $("#price").val('');
            $("#priceUsd").val('');
            $("#bonus").val('');
            $("#total").val('');
            $('#error').html('');
        }
      
    } 



    
  </script>