<%- contentFor('styles'); %>
<%- contentFor('body'); %>
<% if (coin == 'btc') { var balance = user.btc_bal.toFixed(8)  } else if(coin == 'eth') { var balance = user.eth_bal.toFixed(8) } else if(coin == 'ltc') { var balance = user.ltc_bal.toFixed(8) } else if(coin == 'doge') { var balance = user.doge_bal.toFixed(8) }%>
<% var i = 1; %>

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6" data-intro="This is the name of this site">
                <h3><%= translation.deposit %></h3>
            </div>
            <div class="col-lg-6" data-intro="This is the name of this site">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><%= translation.deposit %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
   <div class="row">
        <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                    <div class="address float-left">
                    <h5><%= translation.address %></h5>
                </div>
                    <div class="lable-price text-right">
                        <span><img src="<%= global.url; %>/public/assets/images/<%= coin; %>-1.png"><span style="text-transform: uppercase;"><%= balance; %> <%= coin; %></span></span>

                    </div>
                </div>
                <div class="card-body text-center" style="margin:0 auto;">
                    <div class="qr-code">
                     <img class="mr-3" src="<%= QRCode; %>"> 
                 </div>
                 <div class="gen-address">
                        <span> <%= translation.address %></span>
                <div class="copy-link1">
                      <input type="text" id="addreess" value="<%= address; %>"/>
                        <button data-copytarget="#addreess"><img src="<%= global.url; %>/public/assets/images/copy.png" ></button>
                </div>

                   
                </div>
                </div>
            </div>
           
        </div>

<!--     <div class="col-sm-8">   
            <div class="row">
                    <div class="col-sm-4">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                            <img class="mr-3" src="<%= global.url; %>/public/assets/images/btc.png" style="width:50px;"> 
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter"><%- user.btc_bal; %></h3>
                                <h6>BTC Balance</h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard1" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

              <div class="col-sm-4">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                             <img class="mr-3" src="<%= global.url; %>/public/assets/images/eth.png" style="width:50px;">
                            <i class="fa fa-ethereum" aria-hidden="true"></i>
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter"><%- user.eth_bal; %></h3>
                                <h6>ETH Balance</h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard2" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="col-sm-4">
            <div class="card">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                            <img class="mr-3" src="<%= global.url; %>/public/assets/images/litecoin.svg" style="width:50px;">
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter"><%- user.ltc_bal; %></h3>
                                <h6>LTC Balance</h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard3" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div> -->

       <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5><%= translation.transaction %> <%= translation.history %></h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                     <table id="basic" class="display">
                        <thead>
                        <tr>
                            <th><%= translation.sr_no %></th>
                            <th><%= translation.date %></th>
                            <th><%= translation.coin %></th>
                            <th><%= translation.address %></th>
                            <th><%= translation.txid %></th>
                            <th><%= translation.amount %></th>
                            <th><%= translation.status %></th>
                        </tr>
                        </thead>
                        <tbody>
                          <% if (deposit) { %>
                          <% deposit.forEach(function(deposits){ %>
                            <tr>
                            <td><%= i++;  %></td>
                            <td><%= new Date(deposits.created_date).toISOString().slice(0, 10)  %></td>
                            <td>
                             <span class="badge badge-<%= deposits.type %>"> <%= deposits.type;  %> </span>
                            </td>
                            <td><%= deposits.address;  %></td>
                            <td><%= deposits.txid;  %></td>
                            <td><%= deposits.amount;  %></td>
                            <td>

                            <% if(deposits.status == '0') { %>
                            <span class="badge badge-warning">  <%= translation.pending %>  </span>
                            <% } else if(deposits.status == '100') {%>
                            <span class="badge badge-success">  <%= translation.confirm %>  </span>
                            <% } else if(deposits.status == '-1') {%>
                            <span class="badge badge-primary">  <%= translation.failed %>  </span>
                            <% } %>
                            </td>
                            </tr>
                            <% }) %>
                        <% } %>   
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>

<%- contentFor('scripts'); %>
