<%- contentFor('styles'); %>
<style type="text/css">
.btn-deposit.text-right {
       position: absolute;
    left: 10px;
    width: 100px;
    overflow: hidden;
        z-index: 99;
    height: 47px;
}
.opt-0 {
        opacity: 0.005;
}

span.btn.btn-outline-light.ml-2.paypal-checkout-button.opt-0{
  padding: 0;
}
</style>
<%- contentFor('body'); %>
<% 
var i =1;
if (coin == 'btc') { var balance = user.btc_bal.toFixed(8);  } else if(coin == 'eth') { var balance = user.eth_bal.toFixed(8); } else if(coin == 'ltc') { var balance = user.ltc_bal.toFixed(8); } else if(coin == 'paid'){ var balance = user.token_bal.toFixed(2); } else if(coin == 'USD'){ var balance = user.usd_bal.toFixed(2); } else if(coin == 'EUR'){ var balance = user.eur_bal.toFixed(2); } else if(coin == 'GBP'){ var balance = user.gbp_bal.toFixed(2); } else if(coin == 'CAD'){ var balance = user.cad_bal.toFixed(2); }%>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6" data-intro="This is the name of this site">
                <h3><%= coin; %> <%= translation.deposit %></h3>
            </div>
            <div class="col-lg-6" data-intro="This is the name of this site">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><%= translation.deposit %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
   <div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <div class="float-left">
                <h5><%= translation.deposit %></h5>
            </div>
                <div class="lable-price text-right">
                         <span><img class="mr-3" src="<%= global.url; %>/public/assets/images/<%= coin; %>-1.png"> <span style="text-transform: uppercase;"><%= balance; %> <%= coin; %></span></span>
                </div>
            </div>
            <div class="card-body">
            
           
            <div id="alert-msg"></div>
            
           <form class="" method="post">
              
              <% if (errorMessage.length > 0) { %>
                  <div class="alert alert-danger flash"><%= errorMessage %></div>
              <% } %>

              <% if (successMessage.length > 0) { %>
                  <div class="alert alert-success flash"><%= successMessage %></div>
              <% } %>
             <span id="google_auth_msg"></span>
              <input type="hidden" class="form-control" id="currency" value="<%= coin; %>" autocomplete="off" value="" name="currency">
               
               <span class="text-danger"></span>

               <label for="deposit" class="mr-sm-4"><%= translation.token %>:</label>
              <input type="number" class="form-control mb-4 mr-sm-4" name="unit" required="" id="unit" placeholder="0.00" onkeyup="checkDepositAmont(this)" autocomplete="off">
                

              <label for="deposit" class="mr-sm-4"><%= translation.deposit %> <%= translation.amount %>:</label>
              <input type="number" class="form-control mb-4 mr-sm-4 depositAmount" value="" name="fiat_amount" required="" id="fiat_amount"  placeholder="0.00" onkeyup="checkNumber(this)" autocomplete="off">
                <span class="text-danger"></span>
                 <input type="hidden" id="fiat_currency" value="<%= coin; %>" >
              <button type="button" class="btn btn-primary mb-4" id="Withdraw-btn"><%= translation.deposit %></button>

               <div class="btn-deposit text-right">
                    <span class="btn btn-outline-light ml-2 paypal-checkout-button opt-0">    
                        <div id="paypal-button-container"></div>
                    </span>
                </div>
             
            </form> 
           
            </div>
        </div>
    </div>



       <div class="col-sm-8">
           <div class="row">

              <div class="col-sm-6">

            <div class="card coin-box">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                            <img class="mr-3" src="<%= global.url; %>/public/assets/images/dollar.png" style="width:50px;"> 
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter"><%- user.usd_bal.toFixed(2); %></h3>
                                <h6><%= translation.usd %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard1" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

                      <div class="col-sm-6">

            <div class="card coin-box">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                            <img class="mr-3" src="<%= global.url; %>/public/assets/images/euro.png" style="width:50px;"> 
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter"><%- user.eur_bal.toFixed(2); %></h3>
                                <h6><%= translation.euro %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard1" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

                      <div class="col-sm-6">

            <div class="card coin-box">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                            <img class="mr-3" src="<%= global.url; %>/public/assets/images/pound.png" style="width:50px;"> 
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter"><%- user.gbp_bal.toFixed(2); %></h3>
                                <h6><%= translation.gbp %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard1" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

         <div class="col-sm-6">

            <div class="card coin-box">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                            <img class="mr-3" src="<%= global.url; %>/public/assets/images/cad.png" style="width:50px;"> 
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter"><%- user.cad_bal.toFixed(2); %></h3>
                                <h6>CAD Balance</h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard1" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

      </div>
    </div>

    </div>
</div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Transaction History</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                     <table id="basic" class="display">
                        <thead>
                        <tr>
                              <th><%= translation.sr_no %> </th>
                              <th><%= translation.date %></th>
                              <th><%= translation.coin %></th>
                              <th><%= translation.payment %><%= translation.id %></th>
                              <th><%= translation.amount %></th>
                              <th><%= translation.status %></th>
                        </tr>
                        </thead>
                         <tbody>
                        
                             <% if (deposit) { %>
                              <% deposit.forEach(function(data){ %>
                            <tr>
                                <td><%= i++;  %></td>
                                <td><%= new Date(data.created_date).toISOString().slice(0, 10)  %></td>
                                <td><span class="badge badge-<%= data.type %>"> <%= data.type;  %> </span></td>
    
                               
                                <td><%= data.txid;  %></td>
                                <td><%= data.amount;  %></td>
                                <td>
                               
                                     
                                <% if(data.status == '0') { %>
                            <span class="badge badge-warning">  <%= translation.pending %>  </span>
                            <% } else if(data.status == '-1') { %>
                              <span class="badge badge-warning">  <%= translation.pending %> <%= translation.approval %>  </span>
                            <% } else if(data.status == '1') { %>
                            <span class="badge badge-success">  <%= translation.confirm %>  </span>
                            <% } else if(data.status == '2') { %>
                            <span class="badge badge-danger">  <%= translation.cancel %>  </span>
                             <% } else if(data.status == '3') {%>
                            <span class="badge badge-primary">  <%= translation.failed %>  </span>
                            <% } else if(data.status == '4') {%>
                            <span class="badge badge-primary">  <%= translation.reject %> </span>
                            <% } %>

                                </td>
                            </tr>
                             <% }) %>
                              <% } %>   
                                 
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>

<%- contentFor('scripts'); %>
<script src="../../public/assets/js/paypal-checkout.js"></script>
<script src="../../public/assets/js/jquery-paypal.js"></script>
<script type="text/javascript">
paypal.Button.render({

            env: 'sandbox', // sandbox | production

            // PayPal Client IDs - replace with your own
            // Create a PayPal app: https://developer.paypal.com/developer/applications/create
            client: { //client cred..
                sandbox:    'AX4SiD3M_-5RshY591mRZ_1DMk2rIKkRModWaZwF4CT2Uz5wH14xTGBbha6jdLnZY2DMK-K-l8AIwDpj',
                production: 'AeQhEWzvG9a027i-3uIclW7_ocZXRVH72zj5MRth5y_rUbYqgTw6h3NdZO0ypSJZBaHB1IsvtIrYWxbK'
            },

            // Show the buyer a 'Pay Now' button in the checkout flow
            commit: true,

            // payment() is called when the button is clicked
            payment: function(data, actions) {
                var amount = $("#fiat_amount").val(); 
                var currency = $("#fiat_currency").val();
                if(amount=="" || typeof amount === 'undefined' )
                {
                 $("#alert-msg").html("<div class='alert alert-danger mb-3'>Please enter amount first</div>");
                 return 0;
                 // Window.location.reload();
                }
                else{
                // Make a call to the REST api to create the payment
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: { total: amount, currency: currency }
                            }
                        ]
                    }
                });
                 }
            },

            // onAuthorize() is called when the buyer approves the payment
            onAuthorize: function(data, actions) {
                console.log(data);
                var amount = $("#fiat_amount").val(); 
                var currency = $("#fiat_currency").val();
                $.ajax({
                   type: 'post',
                   url:"/wallet/fiat-deposit",
                   data: "paymentID="+data.paymentID+"&paymentToken="+data.paymentToken+"&orderID="+data.orderID+"&payerID="+data.payerID+"&amount="+amount+"&currency="+currency,
                   success: function (responseData) {
                        if(responseData == "done"){
                        // Make a call to the REST api to execute the payment
                            return actions.payment.execute().then(function() {
                                   
                                   swal({
                                        title: "Payment Complete Successfully",
                                        icon: "success",
                                        buttons: true,
                                        dangerMode: true,
                                    }).then(function(isConfirm) {
                                        if (isConfirm) {
                                          location.reload();
                                        }
                                  });

                                  // window.alert('Payment Complete!');
                               
                            });
                        }
                        else{

                        }
                   }
                })
            },
            onCancel: function(data) {
              swal({
                  title: "Payment was Cancelled",
                  icon: "error",
                  buttons: true,
                  dangerMode: true,
                }).then(function(isConfirm) {
                        if (isConfirm) {
                           //Window.reload();
                    }
              });
            //window.alert('The payment was cancelled!');
           // console.log('The payment was cancelled!');
        }
        }, '#paypal-button-container');



var rate =  parseFloat(<%= setting.rate %>);
var coin =  '<%= coin %>';

function checkNumber(elem){
        var val = $(elem).val();
          if(!isNaN(val)){
                 val = val.replace(/[^0-9\.]/g,'');
                 if(val.split('.').length>2)
                     val = val.replace(/\.+$/,"");
                 $(elem).val(val);
            }
}

function checkDepositAmont(elem){

  var val = $(elem).val()
  
   if(!isNaN(val)){
       val = val.replace(/[^0-9\.]/g,'');
       if(val.split('.').length>2)
           val = val.replace(/\.+$/,"");
       $(elem).val(val);
   }

   if(coin == 'USD'){ 

     var rates = parseFloat(val) * rate;
     var amount = rates.toFixed(2);

   } else if(coin == 'EUR'){ 

     var rates = parseFloat(val) * rate;
     var amount = (rates / parseFloat(<%= setting.eur_price %>)).toFixed(2);

   
   } else if(coin == 'GBP'){ 

     var rates = parseFloat(val) * rate;
     var amount = (rates / parseFloat(<%= setting.gbp_price %>)).toFixed(2);
    
   } else if(coin == 'CAD'){ 

     var rates = parseFloat(val) * rate;
     var amount = (rates / parseFloat(<%= setting.cad_price %>)).toFixed(2);
    
   }

    $('#fiat_amount').val(amount);



}        

</script>