<%- contentFor('styles'); %>
<link rel="stylesheet" type="text/css" href="<%= global.url; %>/public/assets/css/game.css">
<%- contentFor('body'); %>
<% var i = 1; %>
<!-- Container-fluid starts -->
<div class="container-fluid">
   <div class="page-header"></div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12 col-md-4 text-center">
         <div class="jeckpot-box">
            <div class="monthly-box">
               <h3>Monthly Prize</h3>
               <h2>460 paid tokens</h2>
               <h6>current leader</h6>
               <span>score = 305249</span>
            </div>
            <div class="timer">
               <ul>
                  <li><span id="days"></span><span class="timer-cal">D</span></li>
                  <li><span id="hours"></span><span class="timer-cal">H</span></li>
                  <li><span id="minutes"></span><span class="timer-cal">M</span></li>
                  <li><span id="seconds"></span><span class="timer-cal">S</span></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="col-sm-12 col-md-4">
         <div class="jeckpot-box">
            <div class="jackpot-text">
               <h2>win 2345 paid tockens</h2>
               <h3><span>000000</span>score wins</h3>
               <img src="public/assets/images/jackpot.png" alt="jackpot" class="img-fluid">
               <h2>jackpot</h2>
            </div>
         </div>
      </div>
      <div class="col-sm-12 col-md-4 text-center">
         <div class="monthly-box">
            <h3>weekly Prize</h3>
            <h2>220 paid tokens</h2>
            <h6>current leader</h6>
            <span>score = 002345</span>
         </div>
         <div class="timer">
            <ul>
               <li><span id="daysMonth"></span><span class="timer-cal">D</span></li>
               <li><span id="hoursMonth"></span><span class="timer-cal">H</span></li>
               <li><span id="minutesMonth"></span><span class="timer-cal">M</span></li>
               <li><span id="secondsMonth"></span><span class="timer-cal">S</span></li>
            </ul>
         </div>
      </div>
      <div class="col-xl-12 mb-3">
         <div class="example-box">
            <div class="main-box">
               <div class="example-code">
                  <div class="">
                     <div class="text text-danger flash" style="color: #b20e01 !important;     margin-bottom: 10px;"><b>1 <%= translation.play %> = <%= setting.game; %> <%= translation.token %></b></div>
                     <h6><%= translation.user_picks_the %> <span>#451235</span></h6>
                     <h6><%= translation.computer %> <%= translation.generated %> <span>#734590</span></h6>
                  </div>
               </div>
               <div class="example-code-box">
                  <div class="">
                     <h6><%= translation.diff_btw_num_cal %></h6>
                     <h6>734590 - 451235 = 283335 <%= translation.users_score %>  </h6>
                     <h6><%= translation.diff_btw_num_cal %>  <a href="#" data-toggle="modal" data-target="#readMore"><%= translation.read_more %></a></h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-3">
         <div class="laptop-lady">
            <img src="public/assets/images/lady.png" alt="lady" class="img-fluid">
            <img src="public/assets/images/cluod.png" alt="cluod" class="img-fluid cloud-1">
            <img src="public/assets/images/cluod.png" alt="cluod" class="img-fluid cloud-2">
         </div>
         <div class="lucky-text">
            <h3>lukcy6</h3>
         </div>
      </div>
      <div class="col-xl-3">
         <div class="input-box">
            <form action="/game" method="post" id="gameForm">
               <div class="form-group col-12 mb-2 text-center">
                  <span><%= translation.digit_num %></span>
                  <input type="text" class="form-control" required name="numberChoose" id="numberChoose" autocomplete="off" maxlength="6" placeholder="">
                  <div class="offset-4 input-btn text-center">
                     <button type="button" class="btn text-center btn-primary mt-2 ml-2 text-white btngame" <% if(user.token_bal < setting.game) { %> disabled <% } %> id="gamePlay">Submit</button>
                  </div>
                  <div class="play-text">
                     <h4>1 play = 50 paid tokens</h4>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <div class="col-xl-3">
         <div class="laptop-digit ">
            <center>
               <div class="count computerNumber"> ...... </div>
            </center>
         </div>
         <div class="laptop">
            <img src="public/assets/images/comp.png" class="img-fluid">
         </div>
      </div>
      <div class="col-xl-3">
         <div class=" leader-board text-center">
            <center>
               <h4><%= translation.leaderboard %></h4>
            </center>
            <hr>
            <div class="row ">
               <table class="table scrolling">
                  <thead>
                     <tr>
                        <th><%= translation.user %></th>
                        <th><%= translation.computer %></th>
                        <th><%= translation.score %></th>
                     </tr>
                  </thead>
                  <tbody class="scnumbers"></tbody>
               </table>
            </div>
         </div>
      </div>
      <div class=" container mb-5" style="margin-top:  -30px;">
         <div class="row">
            <div class="col-md-8">
               <div class="total-digit text-center">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="your-number">
                           <span><%= translation.your %> <%= translation.number %></span>
                           <h4 id="gameUserNumber"><% if(gameHistory) { %> <%= gameHistory.user_number %>   <% } else { %> - <% } %></h4>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="computer-number">
                           <span><%= translation.computer %> <%= translation.digit %> <%= translation.number %></span>
                           <h4 id="gameComputerNumber"> <% if(gameHistory) { %> <%= gameHistory.computer_number %>  <% } else { %> - <% } %></h4>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="total-score">
                           <span><%= translation.score %></span>
                           <h4 id="gameScore"><% if(gameHistory) { %> <%= Math.abs(gameHistory.user_number - gameHistory.computer_number) %> <% } else { %> - <% } %></h4>
                        </div>
                     </div>
                  </div>

               </div>
             
            </div>
                    <div class="col-md-4">
                    <div class="bottom-counter">
                   <div class="timer">
                   <ul>
                  <li><span id="daysMonth"></span><span class="timer-cal">D</span></li>
                  <li><span id="hoursMonth"></span><span class="timer-cal">H</span></li>
                  <li><span id="minutesMonth"></span><span class="timer-cal">M</span></li>
                  <li><span id="secondsMonth"></span><span class="timer-cal">S</span></li>
                </ul>
              </div>
              </div>
              </div>
         </div>
      </div>
   </div>
</div>
<!-- popup-->
<div id="readMore" class="modal modal-styled fade in modals-body kyc-modal">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="text-center text-dark w-100"><%= translation.about %> <%= translation.game %></h4>
            <button type="button" class="close enabledModal" data-dismiss="modal">
            <span aria-hidden="true">×</span>
            <span class="sr-only"><%= translation.close %></span>
            </button>
         </div>
         <form id="gauth-formnew" inspfaactive="true" action="/enable-2fa" method="post" class="">
            <div class="modal-body theme-form">
               <div class="text-left">
                  <ul class="aboutGame">
                     <li>1 <%= translation.play %> = <%= setting.game; %> <%= translation.token %> (<%= translation.paid %>)</li>
                     <li> <%= translation.game_text1 %></li>
                     <li><%= translation.game_text2 %></li>
                     <li><%= translation.game_text3 %></li>
                     <li><%= translation.game_text4 %></li>
                     <li><%= translation.game_text5 %></li>
                     <li>
                        <%= translation.game_text6 %> <br>
                        <ul class="aboutGame" style="list-style: circle;margin-left:  30px;">
                           <li>20% - <%= translation.company %> = 1000 <%= translation.tokens %> (<%= translation.game_text7 %>)</li>
                           <li>30% - <%= translation.daily %> = 1500 <%= translation.tokens %> ( <%= translation.days_winner %>)</li>
                           <li>20% - <%= translation.weekly %> = 1000 <%= translation.tokens %> ( <%= translation.added_to_th %> <%= translation.weekly %> <%= translation.total %> ) </li>
                           <li>20% - <%= translation.monthly %> = 1000 <%= translation.tokens %> ( <%= translation.added_to_th %> <%= translation.monthly %> <%= translation.total %> )</li>
                           <li>10% - <%= translation.jackpot %> = 500 <%= translation.tokens %> (<%= translation.added_to_th %> <%= translation.jackpot %> <%= translation.total %>  )</li>
                        </ul>
                     </li>
                     <li> <%= translation.game_text8 %> </li>
                     <li> <%= translation.game_text9 %></li>
                  </ul>
               </div>
            </div>
            <div class="modal-footer text-center">
               <button type="button" class="btn btn-theme mt-4 enabledModal"  data-dismiss="modal"><%= translation.close %></button>
            </div>
         </form>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!--- score board -->
<%- contentFor('scripts'); %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script>
   socket = io.connect('<%= global.url; %>', {
       reconnection: true,
       reconnectionDelay: 1000,
       reconnectionDelayMax : 5000,
       reconnectionAttempts: 99999
   });
   
   // Get data with socket
   socket.on('score', function (data, dailyToken, weeklyToken, monthlyToken) {
   
     $('.scnumbers').html('');
     $('#dailyPrizeToken').html('');
     $('#weeklyPrizeToken').html('');
     $('#monthlyPrizeToken').html('');
   
     var lowScore = data.reduce((acc, loc) => acc.score < loc.score ? acc : loc)
     var highScore = data.reduce((acc, loc) => acc.score > loc.score ? acc : loc)
     for(i = 0; i < data.length; i++){
         $('.scnumbers').append('<tr class="table-success" id="low"></tr><tr><td>'+data[i].user_number+'</td><td>'+data[i].computer_number+'</td><td>'+data[i].score+'</td></tr>');
     }
   
     $('#dailyPrizeToken').html('Winner Get <span class="red-color">'+dailyToken.tokens +' Tokens</span>');
     $('#weeklyPrizeToken').html('Winner Get <span class="red-color">'+weeklyToken.tokens +' Tokens</span>');
     $('#monthlyPrizeToken').html('Winner Get <span class="red-color">'+monthlyToken.tokens +' Tokens</span>');
   
   
   });
   
    $('#gamePlay').click(function(){
       var numberChoose = $('#numberChoose').val(); 
       if(numberChoose == '' || numberChoose.length <= 5 ){
         swal({
             title: "Please Enter Six Digit Number.",
             icon: "info",
             buttons: true,
             dangerMode: true,
         })
         return false;
       }
   
   
       $('.computerNumber').html('<div id="fountainG">'
        +'<div id="fountainG_1" class="fountainG"></div>'
        +'<div id="fountainG_2" class="fountainG"></div>'
        +'<div id="fountainG_3" class="fountainG"></div>'
        +'<div id="fountainG_4" class="fountainG"></div></div>');
   
        swal({
             title: "Are you sure want to play ?",
             icon: "warning",
             buttons: true,
             dangerMode: true,
         }).then(function(isConfirm) {
         if (isConfirm) {
             $.ajax({
                type: 'post',
                url:"/game",
                data:$('#gameForm').serialize(),
                success: function (responseData) {
   
                 if(responseData == 0){
   
                   swal({
                       title: "Insufficient Token Balance",
                       icon: "error",
                       buttons: true,
                       dangerMode: true,
                   })
   
                   $('.computerNumber').html('......')
   
                 } else {
   
                  $('.computerNumber').html(responseData.computer_number);
                  $('#gameUserNumber').html(responseData.user_number);
                  $('#gameComputerNumber').html(responseData.computer_number);
                  $('#gameScore').html(Math.abs(responseData.user_number - responseData.computer_number));
                 
                }
                },
                error: function (responseData) {
                  return false;
                }
            });
         } else {
            $('.computerNumber').html('......')
         }
     });
   });
   
   // Only number allow   
   $(document).ready(function(){
   $("#numberChoose").keypress(function(event){
     var regex = new RegExp("^[0-9]+$");
     var regexp = /^\S*$/;
     var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
     if (!regex.test(key) || !regexp.test(key)) {
         event.preventDefault();
         return false;
     }
   });
   });
     
   
   // daily
   setInterval(function time(){
   
   //EST
     offset = -5.0
     var d = new Date();
     utc = d.getTime() + (d.getTimezoneOffset() * 60000);
     serverDate = new Date(utc + (3600000*offset));
   
   
   var days = 1 - 1;
   var hours = 23 - serverDate.getHours();
   var min = 60 - serverDate.getMinutes();
   if((min + '').length == 1){
     min = '0' + min;
   }
   var sec = 60 - serverDate.getSeconds();
   if((sec + '').length == 1){
         sec = '0' + sec;
   }
   document.getElementById('days').innerText = days,
   document.getElementById('hours').innerText = hours,
   document.getElementById('minutes').innerText = min,
   document.getElementById('seconds').innerText = sec;
   }, 1000);
   
   // weekly
   setInterval(function time(){
   //EST
     offset = -5.0
     var d = new Date();
     utc = d.getTime() + (d.getTimezoneOffset() * 60000);
     serverDate = new Date(utc + (3600000*offset));
     
   //var days = Math.floor(7 - d.getDate() / 7);
   if(d.getDay() == 0){
     var days = serverDate.getDay();
   } else {
     var days = 7 - serverDate.getDay();  
   }
   var hours = 23 - serverDate.getHours();
   var min = 60 - serverDate.getMinutes();
   if((min + '').length == 1){
     min = '0' + min;
   }
   var sec = 60 - serverDate.getSeconds();
   if((sec + '').length == 1){
         sec = '0' + sec;
   }
   document.getElementById('dayswk').innerText = days,
   document.getElementById('hourswk').innerText = hours,
   document.getElementById('minuteswk').innerText = min,
   document.getElementById('secondswk').innerText = sec;
   }, 1000);
   
   // monthly
   setInterval(function time(){
   //EST
     offset = -5.0
     var d = new Date();
     utc = d.getTime() + (d.getTimezoneOffset() * 60000);
     serverDate = new Date(utc + (3600000*offset));
   
   if(d.getDate() == 31){
     var days = 31 - serverDate.getDate();
   } else {
     var days = 30 - serverDate.getDate();
   }
   
   var hours = 23 - serverDate.getHours();
   var min = 60 - serverDate.getMinutes();
   if((min + '').length == 1){
     min = '0' + min;
   }
   var sec = 60 - serverDate.getSeconds();
   if((sec + '').length == 1){
         sec = '0' + sec;
   }
   document.getElementById('daysMonth').innerText = days,
   document.getElementById('hoursMonth').innerText = hours,
   document.getElementById('minutesMonth').innerText = min,
   document.getElementById('secondsMonth').innerText = sec;
   }, 1000);
   
   
   // const second = 1000,
   // minute = second * 60,
   // hour = minute * 60,
   // day = hour * 24;
   
   
   // let countDown = new Date(),
   // x = setInterval(function() {
   //     let now = new Date(),
   //     distance = countDown - now;
   //     document.getElementById('days').innerText = Math.floor(distance / (day)),
   //     document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
   //     document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
   //     document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);
   
   // }, second)  
   
</script>