<%- contentFor('styles'); %>
<%- contentFor('body'); %>
<% var i=1; %>
<% 
    var nowDate = new Date();
    var currentDt = new Date().toISOString().slice(0, 10);
%>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6" data-intro="This is the name of this site">
                <h3><%= translation.ico %> <%= translation.information %></h3>
            </div>
            <div class="col-lg-6" data-intro="This is the name of this site">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><%= translation.ico %> <%= translation.information %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
   <div class="row">
      
       
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5><img class="mr-3" src="<%= global.url; %>/public/assets/images/paid-1.png"><%= translation.total %> <%= translation.paid %> </h5>
                </div>
                <div class="card-body d-flex time-body text-center">
                    <h3><%- setting.totalSupplyToken; %></h3>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5><img class="mr-3" src="<%= global.url; %>/public/assets/images/paid-1.png"><%= translation.total %> <%= translation.sold %> <%= translation.paid %></h5>
                </div>
                <div class="card-body d-flex time-body text-center">
                    <h3><%- setting.soldToken.toFixed(2); %></h3>
                    
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5><img class="mr-3" src="<%= global.url; %>/public/assets/images/clock.png"><%= translation.ico %> <%= translation.end %> <%= translation.time %></h5>
                </div>
                <div class="card-body text-center">
                    <div class="timer">
                <ul>
                    <li><span id="days"></span><span class="timer-cal">D</span></li>
                    <li><span id="hours"></span><span class="timer-cal">H</span></li>
                    <li><span id="minutes"></span><span class="timer-cal">M</span></li>
                    <li><span id="seconds"></span><span class="timer-cal">S</span></li>
                  </ul>
              </div>

                </div>
            </div>
        </div>

        <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5><%= translation.calendar %> <%= translation.ico %></h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                             <table id="basic" class="display">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th><%= translation.name %></th>
                                <th><%= translation.sold %> <%= translation.tokens %></th>
                                <th><%= translation.bonus %></th>
                                <th><%= translation.start %> <%= translation.date %></th>
                                <th><%= translation.end %> <%= translation.date %></th>
                                <th><%= translation.status %></th>
                 
                             
                            </tr>
                            </thead>
                            <tbody>
                               <% if (rate) { %>
                                  <% rate.forEach(function(rates){ %>        
                             <tr>
                                <td><%= i++ %></td>
                                <td><%= rates.name %></td>
                                <td><%= rates.totalSupplyToken %></td>
                                <td><%= rates.bonus %></td>
                                <td><%= rates.icoStartDate %></td>
                                <td><%= rates.icoEndDate %></td>
                                <td>
                                <% if (rates.icoStartDate <= currentDt && rates.icoEndDate >= currentDt) { %>
                                     <span class="badge badge-success"> <%= translation.live %> </span>
                                <% } else if(rates.icoEndDate <= currentDt) { %>
                                     <span class="badge badge-primary"> <%= translation.finished %> </span>
                                <% } else if(rates.icoEndDate >= currentDt) { %>
                                    <span class="badge badge-warning"> <%= translation.pending %> </span>
                                <% } %>
                                
                               
                                </td>
                            </tr>
                                   <% }) %>
                                  <% } %>   
                             
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
   </div>
</div>

<%- contentFor('scripts'); %>
<script>
    const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

let countDown = new Date('<%- setting.icoEndDate; %>').getTime(),
    x = setInterval(function() {

      let now = new Date().getTime(),
          distance = countDown - now;

    document.getElementById('days').innerText = Math.floor(distance / (day)),
    document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
    document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
    document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);

}, second)    
</script>