<%- contentFor('styles'); %>
<%- contentFor('body'); %>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6" data-intro="This is the name of this site">
                <h3><%= translation.network %></h3>
            </div>
            <div class="col-lg-6" data-intro="This is the name of this site">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><%= translation.network %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
   <div class="row">
        <div class="col-sm-12">
              <div class="card">
                 <div class="card-body bg-network">
                        <div id="chart-container"></div>
                          <a id="github-link" href="https://github.com/dabeng/OrgChart" target="_blank"><i class="fa fa-github-square"></i></a>
                    </div>
            </div>
        </div>
   </div>
</div>




<%- contentFor('scripts'); %>

<script type="text/javascript" src="public/assets/js/jquery.orgchart.js"></script>
<script type="text/javascript">
'use strict';
(function($){

  $(function() {

    var datascource = {
      'name': '<%= user.username %> (<%= count %>)',
      'title': '<%= user.token_bal %> PAID',
      'children': [

      <% if (refUser) { %>
      <% refUser.forEach(function(refUsers){ %>
        { 
          'name': '<%= refUsers.username; %>', 'title': '<%= refUsers.token_bal; %> PAID', 'className': 'middle-level',
        },
      <% }) %>
      <% } %>   
      
      ]
    };

    var oc = $('#chart-container').orgchart({
      'data' : datascource,
      'nodeContent': 'title'
    });

  });

})(jQuery);
</script>