<%- contentFor('styles'); %>
<%- contentFor('body'); %>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6" data-intro="This is the name of this site">
                <h3><%= translation.deposit %> <%= translation.and %> <%= translation.withdrawal %></h3>
            </div>
            <div class="col-lg-6" data-intro="This is the name of this site">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><%= translation.wallet %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
   <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5><%= translation.wallet %></h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="basic" class="display">
                                <thead>
                                <tr>
                                    <th><%= translation.coin %></th>
                                    <th><%= translation.name %></th>
                                    <th><%= translation.total %> <%= translation.balance %></th>
                                    <th><%= translation.action %></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center"><img src="<%= global.url; %>/public/assets/images/btc-2.png" ></td>
                                    <td>BTC</td>
                                    <td><%- user.btc_bal.toFixed(8); %> BTC</td>
                                    <td>
                                    <a href="/wallet/deposit/btc" class="btn btn-wallet"><%= translation.deposit %></a>
                                   <% if(setting.withdrawalStatus == 0) {%>
                                    <a href="/wallet/withdraw/btc" class="btn btn-walletw"><%= translation.withdrawal %></a>	
                                    <% } %>  
                                    </td>

                                </tr>
                                <tr>
                                <td class="text-center"><img src="<%= global.url; %>/public/assets/images/eth-2.png" ></td>	
                                <td>ETH</td>
                                <td><%- user.eth_bal.toFixed(8); %> ETH</td>
                                <td>
                                	<a href="/wallet/deposit/eth" class="btn btn-wallet"><%= translation.deposit %></a>
                                     <% if(setting.withdrawalStatus == 0) {%>
                                    <a href="/wallet/withdraw/eth" class="btn btn-walletw"><%= translation.withdrawal %></a>
                                    <% } %>  	
                                </td>
                                </tr>

                                </tr>
                                <tr>
                                <td class="text-center"><img src="<%= global.url; %>/public/assets/images/ltc-2.png" ></td>	
                                <td>LTC</td>
                                <td><%- user.ltc_bal.toFixed(8); %> LTC</td>
                                <td>
                                	<a href="/wallet/deposit/ltc" class="btn btn-wallet"><%= translation.deposit %></a>
                                     <% if(setting.withdrawalStatus == 0) {%>
                                    <a href="/wallet/withdraw/ltc" class="btn btn-walletw"><%= translation.withdrawal %></a>	
                                    <% } %>   
                                </td>
                                </tr>

                                <tr>
                                <td class="text-center"><img src="<%= global.url; %>/public/assets/images/doge-2.png" ></td> 
                                <td>DOGE</td>
                                <td><%- user.doge_bal.toFixed(8); %> DOGE</td>
                                <td>
                                    <a href="/wallet/deposit/doge" class="btn btn-wallet"><%= translation.deposit %></a>
                                     <% if(setting.withdrawalStatus == 0) {%>
                                    <a href="/wallet/withdraw/doge" class="btn btn-walletw"><%= translation.withdrawal %></a>    
                                    <% } %>   
                                </td>
                                </tr>

                                <tr>
                                <td class="text-center"><img src="<%= global.url; %>/public/assets/images/usd-2.png" ></td> 
                                <td>USD</td>
                                <td><%- user.usd_bal.toFixed(2); %> USD</td>
                                <td>

                                    <a href="/wallet/fiat/USD" class="btn btn-wallet"><%= translation.deposit %></a>

                                     <% if(setting.withdrawalStatus == 0) {%>
                                    <!-- <a href="" class="btn btn-walletw">Withdrawal</a> -->  
                                    <% } %>   
                                </td>
                                </tr>

                                <tr>
                                <td class="text-center"><img src="<%= global.url; %>/public/assets/images/eur-2.png" ></td> 
                                <td>EUR</td>
                                <td><%- user.eur_bal.toFixed(2); %> EUR</td>
                                <td>
                                    <a href="/wallet/fiat/EUR" class="btn btn-wallet"><%= translation.deposit %></a>
                                     <% if(setting.withdrawalStatus == 0) {%>
                                    <!-- <a href="" class="btn btn-walletw">Withdrawal</a> -->   
                                    <% } %>   
                                </td>
                                </tr>

                                  <tr>
                                <td class="text-center"><img src="<%= global.url; %>/public/assets/images/gbp-2.png" ></td> 
                                <td>GBP</td>
                                <td><%- user.gbp_bal.toFixed(2); %> GBP</td>
                                <td>
                                    <a href="/wallet/fiat/GBP" class="btn btn-wallet"><%= translation.deposit %></a>
                                     <% if(setting.withdrawalStatus == 0) {%>
                                    <!-- <a href="" class="btn btn-walletw">Withdrawal</a> -->   
                                    <% } %>   
                                </td>
                                </tr>
                              

                                 <tr>
                                <td class="text-center"><img src="<%= global.url; %>/public/assets/images/cad-2.png" ></td>   
                                <td>CAD</td>
                                <td><%- user.cad_bal.toFixed(2); %> CAD</td>
                                <td>
                                   <a href="/wallet/fiat/CAD" class="btn btn-wallet">Deposit</a>
                                </td>
                                </tr>

                                 <tr>
                                <td class="text-center"><img src="<%= global.url; %>/public/assets/images/paid-2.png" ></td>   
                                <td>PAID</td>
                                <td><%- user.token_bal.toFixed(2); %> PAID</td>
                                <td>
                                   <% if(setting.withdrawalStatus == 0) {%>
                                    <a href="/wallet/withdraw/paid" class="btn btn-walletw"> <%= translation.withdrawal %></a>
                                    <% } %>    
                                </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

   </div>
</div>

<%- contentFor('scripts'); %>




