<%- contentFor('styles'); %>
<%- contentFor('body'); %>
<% 
var i =1;
if (coin == 'btc') { var balance = user.btc_bal.toFixed(8);  } else if(coin == 'eth') { var balance = user.eth_bal.toFixed(8); } else if(coin == 'ltc') { var balance = user.ltc_bal.toFixed(8); } else if(coin == 'doge') { var balance = user.doge_bal.toFixed(8); } else if(coin == 'paid'){ var balance = user.token_bal.toFixed(2); }%>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6" data-intro="This is the name of this site">
                <h3><%= translation.withdraw %></h3>
            </div>
            <div class="col-lg-6" data-intro="This is the name of this site">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><%= translation.withdraw %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
   <div class="row">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                <div class="float-left">
                <h5><%= translation.withdraw %></h5>
            </div>
                <div class="lable-price text-right">
                         <span><img class="mr-3" src="<%= global.url; %>/public/assets/images/<%= coin; %>-1.png"> <span style="text-transform: uppercase;"><%= balance; %> <%= coin; %></span></span>
                </div>
            </div>
            <div class="card-body">
            
            <form class="form-horizontal theme-form" action="/wallet/withdraw" method="post">
            <div id="alert-msg"></div>
              <% if (errorMessage.length > 0) { %>
                  <div class="alert alert-danger flash"><%= errorMessage %></div>
              <% } %>

              <% if (successMessage.length > 0) { %>
                  <div class="alert alert-success flash"><%= successMessage %></div>
              <% } %>
            <span id="google_auth_msg"></span>
            <input type="hidden" class="form-control" id="coin" value="<%= coin; %>" autocomplete="off" value="" name="coin">
            <div class="form-group">
                <label class="text-left" for="address"><%= translation.wallet %> <%= translation.address %></label>
                <input type="text" class="form-control" id="address" value="" onkeyup="erc20Address(this)" autocomplete="off" name="address"><span class="text-danger"></span>
                
            </div>
            <div class="form-group">
                <label for="Quantity-wisdom coin"><%= translation.quantity %> <%= translation.coin %></label>
                <input type="number" class="form-control" id="amount-withdraw" autocomplete="off" onkeyup="checkAmount(this)" name="amount" placeholder="0.00" value="" step="any"> 
                <span id="error_msg"></span>
                
            </div>

            <div class="form-group">
                <label for="Quantity-wisdom coin"><%= translation.google_2fa %> <%= translation.otp %></label>
                <input type="number" class="form-control" id="google_2fa_otp" autocomplete="off"  name="google_2fa_otp"   onkeyup="checkOTP()" placeholder="" value="" step="any">
                 <span id="error2fa"></span>
            </div>

            <div class="form-group text-right">
             <button type="submit" class="btn btn-primary" id="Withdraw-btn"><%= translation.withdraw %></button>
            </div>
            </form>
           
            </div>
        </div>
    </div>
        <div class="col-sm-8">
           <div class="row">
              <div class="col-sm-6">
            <div class="card coin-box">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                            <img class="mr-3" src="<%= global.url; %>/public/assets/images/btc.png" style="width:50px;"> 
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter"><%- user.btc_bal.toFixed(8); %></h3>
                                <h6><%= translation.btc %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard1" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

              <div class="col-sm-6">
            <div class="card coin-box">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                             <img class="mr-3" src="<%= global.url; %>/public/assets/images/eth.png" style="width:50px;">
                            <i class="fa fa-ethereum" aria-hidden="true"></i>
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter"><%- user.eth_bal.toFixed(8); %></h3>
                                <h6><%= translation.eth %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard2" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="col-sm-6">
            <div class="card coin-box">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                            <img class="mr-3" src="<%= global.url; %>/public/assets/images/litecoin.svg" style="width:50px;">
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter"><%- user.ltc_bal.toFixed(8); %></h3>
                                <h6><%= translation.ltc %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard3" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="col-sm-6">
            <div class="card coin-box">
                <div class="card-body" data-intro="This is the name of this site">
                    <div class="stat-widget-dashboard">
                        <div class="media">
                            <img class="mr-3" src="<%= global.url; %>/public/assets/images/paid-1.png" style="width:50px;">
                            <div class="media-body text-right">
                                <h3 class="mt-0 counter"><%- user.token_bal.toFixed(2); %></h3>
                                <h6><%= translation.paid %> <%= translation.balance %></h6>
                            </div>
                        </div>
                        <div class="dashboard-chart-container">
                            <div id="line-chart-sparkline-dashboard3" class="flot-chart-placeholder line-chart-sparkline"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Transaction History</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                     <table id="basic" class="display">
                        <thead>
                        <tr>
                              <th><%= translation.sr_no %> </th>
                              <th><%= translation.date %> </th>
                              <th><%= translation.coin %></th>
                              <th><%= translation.address %></th>
                              <th><%= translation.withdrawal %> <%= translation.id %></th>
                              <th><%= translation.txid %></th>
                              <th><%= translation.amount %></th>
                              <th><%= translation.status %></th>
                        </tr>
                        </thead>
                         <tbody>
                        
                             <% if (withdraw) { %>
                              <% withdraw.forEach(function(withdraws){ %>
                            <tr>
                                <td><%= i++;  %></td>
                                <td><%= new Date(withdraws.created_date).toISOString().slice(0, 10)  %></td>
                                <td><span class="badge badge-<%= withdraws.type %>"> <%= withdraws.type;  %> </span></td>
                                <td><%= withdraws.address;  %></td>
                                <td><%= withdraws.withdrawalId;  %></td>
                                <td><%= withdraws.txid;  %></td>
                                <td><%= withdraws.amount;  %></td>
                                <td>
                               
                                     
                                <% if(withdraws.status == '0') { %>
                            <span class="badge badge-warning">  <%= translation.pending %>  </span>
                            <% } else if(withdraws.status == '-1') { %>
                              <span class="badge badge-warning">  <%= translation.pending %> <%= translation.approval %> </span>
                            <% } else if(withdraws.status == '1') { %>
                            <span class="badge badge-success">  <%= translation.confirm %>  </span>
                            <% } else if(withdraws.status == '2') { %>
                            <span class="badge badge-danger">  <%= translation.cancel %>  </span>
                             <% } else if(withdraws.status == '3') {%>
                            <span class="badge badge-primary">  <%= translation.failed %>  </span>
                            <% } else if(withdraws.status == '4') {%>
                            <span class="badge badge-primary">  <%= translation.reject %>  </span>
                            <% } %>

                                </td>
                            </tr>
                             <% }) %>
                              <% } %>   
                                 
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>

<%- contentFor('scripts'); %>

<script type="text/javascript">


//dissabled button
$("#Withdraw-btn").prop('disabled', true);

// Check Amount 
function checkAmount(elem){
 
  var token = $(elem).val();

  if(!isNaN(token)){
     val = token.replace(/[^0-9\.]/g,'');
     if(val.split('.').length>2)
      val = val.replace(/\.+$/,"");
     $(elem).val(val);
  }

  if(token === "" || token.length == 0){
       $("#Withdraw-btn").prop('disabled', true);
       $("#error_msg").html("");
   } else {
       if(<%= balance %> > token){
           $("#Withdraw-btn").prop('disabled', false);
          $("#error_msg").html("");
        }
        else{
           $("#Withdraw-btn").prop('disabled', true);
          $("#error_msg").html("<span class='text-danger'>Insufficient balance to withdraw. </span><br>");
        }
    }

}


// Check google 2fa otp
function checkOTP(){
       $("#google_auth_msg").html('');
       var code= $("#google_2fa_otp").val();
       if(code.length == 6)
       {
         $.ajax({
           type: 'post',
           url:"/validate-otp",
           data: "totp="+code,
           success: function (responseData) {
           //console.log(responseData);
             if(responseData==1)
             {
               $("#google_auth_msg").html("<div class='form-group'><div class='alert alert-success'>OTP match successfully</div></div>");
              // $("#google_2fa_otp").val('');
               $("#Withdraw-btn").prop('disabled', false);
             }
             else{
               $("#google_auth_msg").html("<div class='form-group'><div class='alert alert-danger'>Nice try but OTP not match, Please try again.</div></div>");
             }
           },
           error: function (responseData) {
             $("#google_auth_msg").html("<div class='form-group'><div class='alert alert-danger'>Nice try but OTP not match, Please try again.</div></div>");
             return false;
           }
         });
       }
}

<% if(user.isset_2fa == 0) { %>
    $("#error2fa").html("<span class='text-danger'>Please turn on Google 2FA for security purpose <a href='/profile'><b> Click Here </b> </a>.</span><br>");
    $("#Withdraw-btn").prop('disabled', true);
<% } %>
</script>