<%- contentFor('styles'); %>
<%- contentFor('body'); %>
<% var i = 1; %>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6" data-intro="This is the name of this site">
                <h3><%= translation.withdrawal %></h3>
            </div>
            <div class="col-lg-6" data-intro="This is the name of this site">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><%= translation.withdrawal %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
<div class="row">
          <div class="col-sm-12">
 <% if (errorMessage.length > 0) { %>
              <div class="alert alert-danger flash"><%= errorMessage %></div>
          <% } %>

          <% if (successMessage.length > 0) { %>
              <div class="alert alert-success flash"><%= successMessage %></div>
          <% } %>
      </div>
<div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5><%= translation.transaction %> <%= translation.history %></h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                         <table id="basic" class="display">
                            <thead>
                            <tr>
                                  <th><%= translation.sr_no %></th>
                                  <th><%= translation.date %></th>
                                  <th><%= translation.username %></th>
                                  <th><%= translation.coin %></th>
                                  <th><%= translation.address %></th>
                                  <th><%= translation.withdrawal %> <%= translation.id %></th>
                                  <th><%= translation.txid %></th>
                                  <th><%= translation.amount %></th>
                                  <th><%= translation.status %></th>
                                  <th><%= translation.action %></th>
                            </tr>
                            </thead>
                             <tbody>
                                
                           <% if (withdraw) { %>
                              <% withdraw.forEach(function(withdraws){ %>
                            <tr>
                                
                                <td><%= i++;  %></td>
                                 <td><%= new Date(withdraws.created_date).toISOString().slice(0, 10)  %></td>
                                <td><%= withdraws.users.username %></td>
                                <td><span class="badge badge-<%= withdraws.type %>"> <%= withdraws.type;  %> </span></td>
                                <td><%= withdraws.address;  %></td>
                                <td><%= withdraws.withdrawalId;  %></td>
                                <td><%= withdraws.txid;  %></td>
                                <td><%= withdraws.amount;  %></td>
                                <td>
                               
                               <% if(withdraws.status == '0') { %>
                            <span class="badge badge-warning">  <%= translation.pending %>  </span>
                            <% } else if(withdraws.status == '-1') { %>
                              <span class="badge badge-warning">  <%= translation.pending %> <%= translation.approval %> </span>
                            <% } else if(withdraws.status == '1') { %>
                            <span class="badge badge-success">  <%= translation.confirm %> </span>
                            <% } else if(withdraws.status == '2') { %>
                            <span class="badge badge-danger">  <%= translation.cancel %>  </span>
                             <% } else if(withdraws.status == '3') {%>
                            <span class="badge badge-primary">   <%= translation.failed %> </span>
                            <% } else if(withdraws.status == '4') {%>
                            <span class="badge badge-primary">  <%= translation.rejected %>  </span>
                            <% } %>

                                </td>
                                <td class="user-m">
                                
                                 
                                 <% if(withdraws.status == '0') { %>
                                  <form action='/wallet/withdraw/approve' method='post' id="approveForm">
                                   <input type="hidden" name="coin" value="<%= withdraws.type;  %>">
                                   <input type="hidden" name="amount" value="<%= withdraws.amount;  %>">
                                   <input type="hidden" name="address" value="<%= withdraws.address;  %>">
                                   <input type="hidden" name="id" value="<%= withdraws._id;  %>">
                                   <input type="hidden" name="user_id" value="<%= withdraws.user_id;  %>">
                              <button class='btn btn-success withdrawsApproved'><i class='fa fa-check' aria-hidden='true'></i>&nbsp;<%= translation.approval %></button>
                                 </form>
                                 
                                 <form action='/wallet/withdraw/reject' method='post' id="rejectForm">
                                   <input type="hidden" name="coin" value="<%= withdraws.type;  %>">
                                   <input type="hidden" name="amount" value="<%= withdraws.amount;  %>">
                                   <input type="hidden" name="id" value="<%= withdraws._id;  %>">
                                   <input type="hidden" name="user_id" value="<%= withdraws.user_id;  %>">
                                  <button class='btn btn-primary ml-2 withdrawsReject'><i class='fa fa-times' aria-hidden='true'></i>&nbsp;<%= translation.reject %></button>
                                  
                                  </form>

                                 <% } else {%> 
-
                                    <% } %>
                                </td>
                            </tr>
                             <% }) %>
                              <% } %>   
                              
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
   </div>
</div>

<%- contentFor('scripts'); %>

