.rating-info img {
    padding-right: 15px;
    padding-left: 5px;
}

.rating-info {
    color: #0072bc;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid #ddd;
    background: #fafafa;
    padding-left: 8px;
    position: relative;
    margin-right: 15px;
    border-radius: 3px;
    padding: 9px !important;
}

.copy-link label {
    clear: both;
    display: block;
    font-size: 0.85em;
    font-weight: bold;
    padding: 0.8em 0 0.2em 0;
    user-select: none;
}

.copy-link input,
button {
    float: left;
    font-size: 1em;
    padding: 10px 20px;
    margin: 0;
    border: 1px solid #ddd;
    outline: 0;
    box-shadow: none;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.copy-link input {
    width: 350px;
    background-color: #fff;
    border-right: 0 none;
    border-radius: 3px 0 0 3px;
}

.copy-link button {
    position: relative;
    background-color: #fafafa;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    border-left: none;
}

.copy-link .copied::after {
    position: absolute;
    top: 14%;
    right: 110%;
    display: block;
    content: "copied";
    font-size: 0.75em;
    padding: 2px 3px;
    color: #fff;
    background-color: #be0f00;
    border-radius: 3px;
    opacity: 0;
    will-animate: opacity, transform;
    animation: showcopied 1.5s ease;
}

@keyframes showcopied {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    70% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
    }
}

.copy-link1 {
    margin-top: 15px;
}

.copy-link1 label {
    clear: both;
    display: block;
    font-size: 0.85em;
    font-weight: bold;
    padding: 0.8em 0 0.2em 0;
    user-select: none;
}

.copy-link1 input,
button {
    float: left;
    font-size: 1em;
    padding: 10px 20px;
    margin: 0;
    border: 1px solid #ddd;
    outline: 0;
    box-shadow: none;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.copy-link1 input {
    width: 350px;
    background-color: #fff;
    border-right: 0 none;
    border-radius: 3px 0 0 3px;
}

.copy-link1 button {
    position: relative;
    background-color: #fafafa;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    border-left: none;
}

.copy-link1 .copied::after {
    position: absolute;
    top: 14%;
    right: 110%;
    display: block;
    content: "copied";
    font-size: 0.75em;
    padding: 2px 3px;
    color: #fff;
    background-color: #be0f00;
    border-radius: 3px;
    opacity: 0;
    will-animate: opacity, transform;
    animation: showcopied 1.5s ease;
}


/*upload button css*/

/**************upload button styles************/

.file-upload {
    position: relative;
    display: inline-block;
}

.file-upload__label {
    display: block;
    padding: 5px 10px;
    color: #fff;
    background: #be1203;
    border-radius: .4em;
    transition: background .3s;
    &:hover {
        cursor: pointerbackground: #000;
    }
}

.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width: 0;
    height: 100%;
    opacity: 0;
}

.kyc-block {
    padding: 15px;
    margin-bottom: 30px;
}

.kyc-block img {
    width: 460px;
    height: 290px;
}




/*profile-edit-button*/

.timer li {
   display: inline-block;
    font-size: 24px;
    list-style-type: none;
    padding: 5px 5px;
    height: 60px;
    width: 60px;
    background-color: transparent;
    text-transform: uppercase;
    margin-right: 15px;
    box-shadow: 0px 1px 21px #eee;
    font-weight: 600;
}

.timer li span {
    display: block;
    font-size: 16px;
}

.timer-cal {
    margin-top: 0;
    padding-top: 0;
    border-top: 1px solid #e9ecef;
    display: block;
    text-shadow: 1px 2px 4px #e6e4e4;
}

.time-body {
    min-height: 181px
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-sell {
    padding: 15px;
}

.card-title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.btn-all {
    float: right;
}



/*timer-counter end*/

.buy-sell .form-control:disabled,
.form-control[readonly] {
    background-color: transparent;
}

.buy-sell .input-group-text {
    background-color: transparent;
    border-radius: 0 5px 5px 0!important;
}

.btn-wallet {
    background-color: #be0f00;
    border-color: #be0f00;
    color: #fff!important;
    border-radius: 5px;
    padding: 5px 15px;
    transition: all 0.5s;
}

.btn-walletw {
    background-color: transparent;
    border-color: #be0f00! important;
    color: #be0f00!important;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px 15px;
    transition: all 0.5s;
}

.orgchart {
    background: #fff;
    width: 100%;
    overflow: scroll
}

.orgchart td.left,
.orgchart td.right,
.orgchart td.top {
    border-color: #aaa;
}

.orgchart td>.down {
    background-color: #aaa;
}

.orgchart .middle-level .title {
    background-color: #006699;
}

.orgchart .middle-level .content {
    border-color: #006699;
}

.orgchart .product-dept .title {
    background-color: #009933;
}

.orgchart .product-dept .content {
    border-color: #009933;
}

.orgchart .rd-dept .title {
    background-color: #993366;
}

.orgchart .rd-dept .content {
    border-color: #993366;
}

.orgchart .pipeline1 .title {
    background-color: #996633;
}

.orgchart .pipeline1 .content {
    border-color: #996633;
}

.orgchart .frontend1 .title {
    background-color: #cc0066;
}

.orgchart .frontend1 .content {
    border-color: #cc0066;
}

#github-link {
    position: fixed;
    top: 0px;
    right: 10px;
    font-size: 3em;
}

.dash-body {
    padding: 0!important;
}

.gen-address span {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15px;
}

.gen-address p {
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
}

ol,
ul,
dl {
    margin-bottom: 0 !important;
}

.btn-primary {
    color: #fff;
    background-color: #be0e00;
    border-color: #be0e00;
}

.btn-primary:hover {
    color: #fff;
    background-color: #be1203;
    border-color: #be1203;
}

.badge-primary {
    color: #fff;
    background-color: #be0e00;
}

a {
    color: #be0e00;
}

h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
}

h1 small {
    display: block;
    font-size: 15px;
    padding-top: 8px;
    color: gray;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #bc1300;
    position: absolute;
    top: 4px;
    left: 3px;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profile h6 {
    margin-top: 15px !important;
}

.lable-price strong {
    margin-right: 15px;
}

.lable-price img {
    margin-right: 15px;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #be0e00;
    border-color: #be0e00;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none
}




/* table css */

.qr-code img {
    height: 200px;
}

.coin-box {
    min-height: 150px;
}

.card-body h3 {
    font-weight: 400;
}

table.dataTable.no-footer {
    border-bottom: 1px solid gainsboro;
}

.date-pick .input-group-text {
    padding: 10px 0.75rem;
    color: #be0e00;
    background-color: #fff;
    border-left: none;
}

.setting-rate .input-group-text {
    padding: 10px 0.75rem;
    color: #be0e00;
    background-color: #fff;
    border-left: none;
}

.date-pick .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(190, 14, 0, 0.46);
}





/*admin-dash css*/

.user-m {
    line-height: 35px;
}

.user-m span {
    margin-left: 15px;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgb(190, 14, 0);
}




/*admin dash css end*/




/* custom */

.btn-info {
    color: #fff;
    background-color: #0d7eff;
    border-color: #0d7eff;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #0d7eff;
    border-color: #0d7eff;
}


.btn-info:hover {
    color: #fff;
    background-color: #0d7eff;
    border-color: #0d7eff;
}

.btn-info:focus,
.btn-info.focus {
    box-shadow: 0 0 0 0.2rem rgb(13, 126, 255);
}

.badge-warning {
    color: #ffffff;
    background-color: #ffc107;
}


.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #be0f00bf;
    border-color: #be0f00d6;
    cursor: not-allowed;
}

:disabled {
    cursor: not-allowed;
}

.buy-sell .form-control:disabled,
.form-control[readonly] {
    background-color: #0000000f;
}

span.badge.badge-btc,
span.badge.badge-BTC {
    color: #fff;
    background-color: #ffc028;
    text-transform: uppercase;
}

span.badge.badge-ltc,
span.badge.badge-LTC {
    color: #fff;
    background-color: #5770a9;
    text-transform: uppercase;
}

span.badge.badge-doge,
span.badge.badge-DOGE {
    background: #c79c22c7;
    color: #fff;
    text-transform: uppercase;
}

span.badge.badge-eth,
span.badge.badge-ETH {
    color: #fff;
    background-color: #0d0d0d;
    text-transform: uppercase;
}

span.badge.badge-paid,
span.badge.badge-PAID {
    background: #e08f85;
    color: #fff;
    text-transform: uppercase;
}


span.badge.badge-usd,
span.badge.badge-USD {
    color: #fff;
    background: #008000a3;
    text-transform: uppercase;
}

span.badge.badge-eur,
span.badge.badge-EUR {
    background-color: #205ae6;
    text-transform: uppercase;
    color: #fff;
}

span.badge.badge-gbp,
span.badge.badge-GBP {
    background: #f93f28;
    color: #fff;
    text-transform: uppercase;
}

span.badge.badge-CAD,
span.badge.badge-cad {
    background: #be0f008f;
    color: #fff;
    text-transform: uppercase;
}


.kyc-modal .modal-dialog {
    max-width: 1140px;
}

input:focus {
    background-color: white;
}

.view-modal .modal-dialog {
    max-width: 768px;
}

.view-balance {
    margin: 0 auto;
    text-align: center;
}

.input-group-text {
    text-transform: uppercase;
}


span.badge.badge-danger.pulsate.ml-3 {
    animation: pulse 1s ease infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    30% {
        transform: scale(1.1);
        opacity: 1;
    }
}




/*game page*/

.example-box h4 {
    color: #000;
}

.example-box {
    border: 1px dashed #b8b8b8;
    padding: 15px;
    text-transform: uppercase;
    color: #7c7c7c;
}

.example-code:first-child {
    border-right: 1px solid #d7d7d7;
}

.example-code {
    padding: 05px 95px;
}

.example-code-box {
    padding: 5px 29px;
}

.example-code span {
    margin-left: 30px;
    margin-right: 30px
}
.main-box{
    display: inline-flex;
}

.laptop-lady {
    /*padding: 100px 0 0 0;*/
}

.cloud-1 {
    position: absolute;
    bottom: 0;
    right: -175px;
    animation: moveleftbounce 2.9s linear infinite;
}

.cloud-2 {
    position: absolute;
    bottom: 0;
    right: 50px;
    animation: moveleftbounce 3.5s linear infinite;
}

.cloud-3 {
    position: absolute;
    bottom: 0;
    right: 200px;
    animation: moveleftbounce 4.9s linear infinite;
}

.cloud {
    position: absolute;
    bottom: 0;
    left: 250px;
    animation: movebounce 6s linear infinite;
}

@keyframes moveleftbounce {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes movebounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.input-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.input-box span {
    text-transform: uppercase;
    color: #777777;
    margin-bottom: 10px;
}

.input-box .form-control {
    line-height: 0.5em;
    border: 2px solid #77777729;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #0000008a!important;
    margin-top: 12px;
}

button.btn.text-center.btn-primary.mt-2.text-white {
    font-size: 20px;
    width: 135px;
}

.your-number,
.computer-number,
.total-score {
    color: #808080ab;
}

.form-control:focus {
    box-shadow: none;
}

.laptop {
    position: absolute;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    justify-content: left;
    height: 100%;
}

.laptop-digit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 47;
}

.laptop-digit hr {
    width: 10px;
    height: 4px;
    background-color: #fff;
}

.count {
    /* width: 60px;*/
    width: 115px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 42px;
    float: left;
    margin: 15px;
}

.total-digit {
    border: 1px solid #b8b8b8;
    padding: 10px;
    box-shadow: 0px 0px 35px -8px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    margin-top: 50px;
}

.total-digit {
    font-size: 14px;
    color: #dddddd;
}

.total-digit h4 {
    font-weight: 700;
    color: #000;
}

.your-number:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 25px;
    width: 10px;
    height: 5px;
    background: #dddddd;
}

.computer-number:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 15px;
    height: 5px;
    background: #dddddd;
}

.computer-number:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 15px;
    height: 5px;
    background: #dddddd;
}


:focus {
    outline-color: #fafafa;
}


#fountainG {
    position: relative;
    width: 234px;
    height: 28px;
    margin: auto;
}

.fountainG {
    position: absolute;
    top: 0;
    background-color: #ffffff;
    width: 28px;
    height: 28px;
    animation-name: bounce_fountainG;
    -o-animation-name: bounce_fountainG;
    -ms-animation-name: bounce_fountainG;
    -webkit-animation-name: bounce_fountainG;
    -moz-animation-name: bounce_fountainG;
    animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    transform: scale(.3);
    -o-transform: scale(.3);
    -ms-transform: scale(.3);
    -webkit-transform: scale(.3);
    -moz-transform: scale(.3);
    border-radius: 19px;
    -o-border-radius: 19px;
    -ms-border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
}

#fountainG_1 {
    left: 0;
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}

#fountainG_2 {
    left: 29px;
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
}

#fountainG_3 {
    left: 58px;
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
}

#fountainG_4 {
    left: 88px;
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
}








@-o-keyframes bounce_fountainG {
    0% {
        -o-transform: scale(1);
        background-color: #ffffff;
    }

    100% {
        -o-transform: scale(.3);
        background-color: #ffffff;
    }
}

@-ms-keyframes bounce_fountainG {
    0% {
        -ms-transform: scale(1);
        background-color: #ffffff;
    }

    100% {
        -ms-transform: scale(.3);
        background-color: #ffffff;
    }
}

@-webkit-keyframes bounce_fountainG {
    0% {
        -webkit-transform: scale(1);
        background-color: #ffffff;
    }

    100% {
        -webkit-transform: scale(.3);
        background-color: #ffffff;
    }
}

@-moz-keyframes bounce_fountainG {
    0% {
        -moz-transform: scale(1);
        background-color: #ffffff;
    }

    100% {
        -moz-transform: scale(.3);
        background-color: #ffffff;
    }
}

.dropdown-item.active,
span.twitter-typeahead .active.tt-suggestion,
span.twitter-typeahead .tt-suggestion.tt-cursor,
.dropdown-item:active,
span.twitter-typeahead .tt-suggestion:active {
    color: #fff !important;
    background-color: #dc3545;
}

.dropdown.show.lang {
    border: 1px solid #be0e00;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: none;
}

a:hover {
    color: #b20600;
    text-decoration: underline;
}

a.dropdown-item {
    cursor: pointer;
}




  @media(max-width: 1366px){
/*    .laptop img{
        width: 220px;
    }
    .laptop-digit{
      right: 40px;
    }*/
    button.btn.text-center.btn-primary.mt-2.text-white {
    font-size: 14px;
    width: 70px;
    margin: 0 auto;
    }
    .right-sidebar .total-digit{
      width: 330px;
      margin-left: 70px;
    }
    .card .card-body {
        padding:15px;
    }
  }


  @media(max-width: 1200px){
      .right-sidebar .total-digit {
    width: 330px;
    margin-top: 115px;
    height: 400px;
    }
   /* .laptop-digit {
    right: 82px;
    }*/
   /* .laptop img {
    width: 135px;
    }*/
    .page-main-header .main-header-right li {
    display: grid;
    text-align: center;
    }
    .rating-info img{
      display: none;
    }
  }











/*responsive css*/

@media (max-width: 1366px) {
    .copy-link input {
        width: 115px;
    }
    .page-main-header .main-header-right .nav-right>ul>li {
        margin-left: 5px;
    }
    .rating-info {
        margin-right: 5px;
    }
    .laptop-lady{
        padding: 150px 0 0 0;
    }
    
    .leader-board{
        height: 400px;
    }
}

@media (max-width: 1200px) {
    .copy-link input {
        width: 130px;
    }
    .page-main-header .main-header-right .nav-right>ul>li {
        margin-left: 5px;
    }
    .rating-info {
        margin-right: 5px;
    }
    .rating-info img {
        padding-right: 5px;
        padding-left: 5px;
    }
    .timer li {
        width: 70px;
    }
    .card-body h3{
        font-size: 16px;
    }
}

@media(max-width: 1199px) {
    .page-main-header .main-header-right .nav-right>ul>li {
        padding: 9px 0;
    }
    .page-main-header .main-header-right .nav-right>ul>li {
        margin-left: 5px;
    }
    .rating-info {
        margin-right: 5px;
    }
    .rating-info img {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (max-width: 1024px) {
    .rating-info img {
        display: none;
    }
    .nav-menus {
        font-size: 12px;
    }
    .copy-link input {
        width: 155px;
    }
    .page-main-header .main-header-right .nav-right>ul>li h6 {
        font-size: 12px;
    }
    .play-text h4 {
    font-size: 16px;
  
    }
    .timer li {
    width: 60px;
    margin-right: 5px;
    }

    .time-body h3 {
    font-size: 22px;
    }
    .card .card-header h5 {
    font-size: 15px;
    }
    .monthly-box h2{
    font-size: 18px;
  }
  .monthly-box h3 {
    font-size: 15px;
  }
  .monthly-box h6 {
    font-size: 16px;
  }
  .monthly-box span {
    font-size: 16px;
  }
  .jackpot-text h2 {
    font-size: 18px;
    }
  .jackpot-text h3 {
    font-size: 16px;
  }
  .laptop img {
    width: 250px;
  }
  .laptop-digit {
    right: 0px;
  }
  .copy-link input {
    width: 130px;
  } 
  .leader-board{
    margin-top: 0;
  }
  .example-box{
    text-align: center;
  }
  .laptop{
    display: block;
    position: inherit;
        text-align: center;
        margin-bottom: 15px;
  }
  .leader-board {
    height: 230px;
    }

}

@media(max-width: 992px) {
    .copy-link input {
        width: 145px;
    }
    .btn-wallet {
        padding: 5px 10px;
    }
    .timer li {
        width: 50px;
        margin-right: 5px;
    }
    .card .card-header h5 {
        font-size: 14px;
    }
    .card .card-body {
        padding: 25px;
    }
    .laptop img {
    width: 330px;
    } 
     .copy-link input {
    width: 100px;
    }
}

@media(max-width: 991px) {
    .copy-link input {
        width: 145px;
    }
    .rating-info img {
        display: unset;
    }
    .time-body {
        min-height: 160px;
    }
    .page-main-header .main-header-right li {
    display: flex;
    text-align: -webkit-auto;
    }
    .rating-info img {
    display: block;
    }
    
    .example-code {
    padding: 05px 65px;
    }
    .leader-board{
        height: 300px;
        margin-bottom: 30px;
    }
    
}

@media(max-width: 768px){
  .rating-info img {
    display: none;
    }
}


@media(max-width: 767px){
  .laptop{
    position: unset;
  }
   .laptop img {
    width: 330px;
    margin: 0 auto;
    margin-top:   30px;
  }
    .computer-number:after {
        display: none;
    }
    .computer-number:before {
        display: none;
    }
    .your-number:after{
      display: none;
    }
    .laptop-lady {
    padding: 50px 0 0 0;
    }
    .copy-link{
      display: none;
    }
    .jeckpot-box{
        border-bottom: 1px solid #d7d7d7;
        margin-bottom: 20px;
    }
    .play-text {
    display: block;
    }
    .input-btn{
        margin: 0 auto;
        display: table;  
    }
}

@media(max-width: 600px) {
    .rating-info img {
        display: none;
    }
    .copy-link input {
        width: 50px;
    }
    .btn-wallet {
        padding: 5px 5px;
        font-size: 12px;
    }
    .btn-walletw {
        padding: 5px 4px;
        font-size: 12px;
    }
}




@media(max-width: 576px){
    .btn-wallet{
        margin-bottom: 10px;
    }
}



@media (max-width: 480px) {
    .btn-wallet {
        margin-bottom: 5px;
    }
}

@media(max-width: 420px){
  .page-main-header .main-header-right li {
    display: inline-table;
    }
    .rating-info li{
      display: none;    
    }
}

@media(max-width: 360px){
  .dropdown.show.lang{
    display: none;
  }
  .page-wrapper .page-main-header .main-header-right .nav-right > ul{
    padding:0 30px;
  }
}




















































