  h6 {
      font-size: 15px;
      text-transform: capitalize;
  }

  .container-fluid {
      margin-bottom: -20px;
  }

  .timer {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      border-radius: 0.25rem;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 40px;
  }

  ul.aboutGame {
      list-style: disc;
      padding-left: 21px;
      line-height: 1.7;
  }

  .table th,
  .table td {
      padding: 6px;
      vertical-align: top;
      border-top: none;
      padding-left: 30px;
      padding-right: 30px;
      align-items: center;
      text-align: center;
  }

  .table thead th {
      vertical-align: bottom;
      border-bottom: none;
  }

  .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 0px;
      background-color: transparent;
  }

  .table th,
  .table td {
      color: #333333bf;
  }

  .score-modal .modal-dialog {
      max-width: 35%;
  }

  .right-sidebar {
      position: absolute;
      right: 0;
      width: 410px;
      top: 215px;
  }

  .total-digit h4 {
      font-weight: 700;
      color: #000000b5;
      font-size: 21px;
  }

  .input-box .form-control {
      line-height: 1.3em;
      border: 2px solid #77777729;
      font-size: 30px;
      font-weight: 700;
      text-align: center;
      color: #0000008a!important;
      margin-top: 12px;
  }

  button.btn.text-center.btn-primary.mt-2.text-white {
      font-size: 17px;
      width: 94px;
      margin: 0 auto;
  }


  .right-sidebar .total-digit {
      height: 500px;
      margin-top: 55px;
      overflow-y: scroll;
      overflow-x: hidden;
  }


  .total-digit::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
  }

  .total-digit::-webkit-scrollbar {
      width: 5px;
      background-color: #F5F5F5;
  }

  .total-digit::-webkit-scrollbar-thumb {
      background-color: #18181840;
  }

  .red-color {
      color: #b20e01;
  }


.monthly-box h2{
    color: #cf1b1c;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}
.monthly-box h3{
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}
.monthly-box h6{
    text-transform: uppercase;
    font-size:18px;
    font-weight: bold;
}
.monthly-box span{
    color: #cf1b1c;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.jackpot-text{
    text-align: center;
}
.jackpot-text h2{
    text-transform: uppercase;
     color: #cf1b1c;
     font-weight: bold;
     font-size: 24px;
}
.jackpot-text span{
        margin-right: 15px;   
}
.jackpot-text h3{
    text-transform: uppercase;
     color: #000;
     font-weight: bold;
     font-size: 20px;
}
.leader-board{
     border: 1px solid #b8b8b8;
    padding: 20px;
    box-shadow: 0px 0px 35px -8px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    overflow-y: scroll;
}
.leader-board .table th, .table td {
    padding: 6px;
    vertical-align: top;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
    text-align: center;
}
.lucky-text{
    position: absolute; 
    bottom: 30px;
    left: 50px;
    }
.lucky-text h3{
    color: #d42627;
    text-transform: uppercase;
    font-weight: bold;
    }

/*.play-text{
  display: -webkit-inline-box;
}*/
.play-text h4{
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

.input-btn{
  margin: 0 auto;
  display: inline-block;
}

.bottom-counter{
  margin-top: 50px;
}