<%- contentFor('styles'); %>
<%- contentFor('body'); %>
<% var i = 1; %>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6" data-intro="This is the name of this site">
                <h3><%= translation.buy %>-<%= translation.token %></h3>
            </div>
            <div class="col-lg-6" data-intro="This is the name of this site">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><%= translation.buy %>-<%= translation.token %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
   <div class="row">

<div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5><%= translation.transaction %> <%= translation.history %></h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                         <table id="basic" class="display">
                            <thead>
                            <tr>
                                <th><%= translation.sr_no %></th>
                                <th><%= translation.date %></th>
                                <th><%= translation.coin %></th>
                                <th><%= translation.txid %></th>
                                <th><%= translation.amount %></th>
                                <th><%= translation.token %> (PTX)</th>
                                <th><%= translation.status %></th>
                                <th><%= translation.note %></th>
                            </tr>
                            </thead>
                            <tbody>
                                  <% if (buytoken) { %>
                                  <% buytoken.forEach(function(buytokens){ %>
                            <tr>
                                <td><%= i++;  %></td>
                                 <td><%= new Date(buytokens.created_date).toISOString().slice(0, 10)  %></td>
                                <td> <span class="badge badge-<%= buytokens.type; %>"> <%= buytokens.type;  %> </span></td>
                                <td><%= buytokens.txid;  %></td>
                                <td><%= buytokens.amount;  %></td>
                                <td><%= buytokens.tokens;  %></td>
                                <td><span class="badge badge-success">  <%= translation.success %>  </span></td>
                                <td><%= buytokens.tokens;  %> PTX buy With <%= buytokens.type; %> wallet</td>
                            </tr>
                               <% }) %>
                                  <% } %>   
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
   </div>
</div>

<%- contentFor('scripts'); %>
