<%- contentFor('styles'); %>
<%- contentFor('body'); %>
<% var i = 1; %>
<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6" data-intro="This is the name of this site">
                <h3><%= translation.deposit %></h3>
            </div>
            <div class="col-lg-6" data-intro="This is the name of this site">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><%= translation.deposit %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->
<div class="container-fluid">
   <div class="row">

<div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5><%= translation.transaction %> <%= translation.history %></h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                         <table id="basic" class="display">
                            <thead>
                            <tr>
                                <th><%= translation.sr_no %></th>
                                <th><%= translation.date %></th>
                                <th><%= translation.coin %></th>
                                <th><%= translation.address %></th>
                                <th><%= translation.txid %> / <%= translation.payment %><%= translation.id %></th>
                                <th><%= translation.amount %></th>
                                <th><%= translation.status %></th>
                            </tr>
                            </thead>
                            <tbody>
                                  <% if (deposit) { %>
                                  <% deposit.forEach(function(deposits){ %>
                            <tr>
                                <td><%= i++;  %></td>
                                 <td><%= new Date(deposits.created_date).toISOString().slice(0, 10)  %></td>
                                <td>
                                 <span class="badge badge-<%= deposits.type %>"> <%= deposits.type;  %> </span>
                                </td>
                                <td><%= deposits.address;  %></td>
                                <td><%= deposits.txid;  %></td>
                                <td><%= deposits.amount;  %></td>
                                <td>

                                <% if(deposits.status == '0') { %>
                                <span class="badge badge-warning">  <%= translation.pending %>  </span>
                                <% } else if(deposits.status == '100' || deposits.status == '1') {%>
                                <span class="badge badge-success">  <%= translation.confirm %>  </span>
                                <% } else if(deposits.status == '-1') {%>
                                <span class="badge badge-primary">   <%= translation.failed %> </span>
                                <% } %>

                                </td>
                            </tr>
                                  <% }) %>
                                  <% } %>   
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
   </div>
</div>

<%- contentFor('scripts'); %>
